<div class="container-fluid no-horizotal-padding" style="background-color:rgba(0,0,0,0.85);">		
	<!-- Side menu-bar -->
	<div class="col-xs-12 col-sm-12 col-md-3 side-menu-bar-cover">			
		<!-- Sorting -->
		<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" style="margin-bottom:10px;">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p style="font-size:20px;">Serial confirmation</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="contianer" >
					<input class="bookmark-input-box" style="color: #C0C0C0;" ng-model="serial" type="text" placeholder="Type serail here"></input>
					<button type"button" ng-click="checkSerial()">Check</button>
					<br>

					<p style="font-size:15px;">Status        : {{serial_code.active_status}}</p>
					<p style="font-size:15px;">Serial Code   : {{serial_code.serial}}</p>
					<p style="font-size:15px;">Purchase Date : {{serial_code.created_at}}</p>
					<p style="font-size:15px;">Customer Name : {{serial_code.user_id.first_name}}</p>
					<button type"button" ng-click="activateSerial()">Activate Serial</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p style="font-size:20px;">Package transaction</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:30px;">
				<p style="font-size:20px;" ng-click="choosePack(0)"> all </p>
				<div ng-repeat="package in packages">
					<p ng-click="choosePack(package._id)" style="font-size:20px;"> {{package.name}}</p>
				</div>					
			</div>					
		</div>		
	</div>
	<!-- Transaction table-->
	<div class="col-xs-12 col-sm-12 col-md-9 main-background">			
		<table class="table">
			<thead>
					<th class="transaction-table-header" style="vertical-align: top;"> Receipt No. </th>
					<th class="transaction-table-header" style="vertical-align: top;"> Package Name </th>
					<th class="transaction-table-header" style="vertical-align: top;"> Customer Name </th>
					<th class="transaction-table-header" style="vertical-align: top;"> Sold Date </th>
					<th class="transaction-table-header" style="vertical-align: top;"> Activate </th>
			</thead>
			<tbody>
				<tr ng-repeat="receipt in receipts">
					<td class="transaction-table-detail" style="vertical-align: top;"> {{receipt._id}} </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> {{getPackge(receipt.packages_id[0]).name}} </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> {{receipt.user_id.first_name}} {{receipt.user_id.last_name}} </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> {{receipt.created_at}} </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> {{receipt.active_status}} </td>
				</tr>
				<!-- <tr>
					<td class="transaction-table-detail" style="vertical-align: top;"> YYYYY </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> YYYYY </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> YYYYY </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> YYYYY </td>
					<td class="transaction-table-detail" style="vertical-align: top;"> YYYYY </td>
				</tr> -->
			</tbody>			
		</table>
		<!-- Page paginator -->
		<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center; margin-top:15px;">
			<uib-pagination total-items="totalItems" items-per-page="limit" ng-change="pageChanged(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-md" boundary-links="true" rotate="false"></uib-pagination>
		</div>
	</div>

	
</div>