      <div class="modal-header" >
        <h2 class="modal-title">Sign out confirmation</h2>
      </div>
      <form ng-submit="logout()">
        <div class="modal-body">
          <pre ng-if="vg.error">{{ vm.error | json }}</pre>  
          <h4>Are you sure you want to sign out ?</h4>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"> Sign Out </button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancle</button>
        </div>
      </form>
