   <div class="modal-header" >
        <h2 class="modal-title">Sign in</h2>
      </div>
      <form ng-submit="login()">
        <div class="modal-body">
                <pre ng-if="vm.error">{{ vm.error | json }}</pre>  
                <label><span class="glyphicon glyphicon-user"></span> Username</label></br>
                <input class="col-md-10 col-xs-10 col-sm-10" type="email" ng-model="user.email" placeholder="email"></br></br></br>
                <label><span class="glyphicon glyphicon-eye-open"></span> Password</label></br>
                <input class="col-md-10 col-xs-10 col-sm-10" type="password" ng-model="user.password" placeholder="password"></br>
                <div class="alertText" ng-show="showAlert"><p>The email address or password you entered is incorrect.</p></div>
              </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
          </div>
      </form>
