  
<div class="modal-header">
                <h2 class="modal-title">Sign up</h2>
              </div>
              <div class="modal-body" style="background-color:darkkhaki">
                <p class="ads">Sign up now, It's free!!</p>
                <div class="col-md-12 col-xs-12 col-sm-12 vendor">
                  <div class="col-md-12 col-xs-12 col-sm-12"> 
                    <p>I'm a traveler</p>
                    <img class="cus_icon" src="../../image/traveller2.png">
                    <button type="button" class="btn btn-success cus_butt" ng-click="hideModal()"><a href="/signup/customer" style="color:white">Sign Up as Customer</a></button>
                  </div>
                  <!-- <div class="col-md-6 col-xs-6 col-sm-6 vendor">
                    <p>Want to be a vendor?</p>
                    <img class="cus_icon" src="../../image/vendor.png">
                    <button type="button" class="btn btn-warning cus_butt" ng-click="hideModal()">
                      <a href="/signup/vendor" style="color:white">Sign Up as Vendor</a>
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
              </div>