@import "../views/my-package-report/my-package-report";
@import "../views/edit-profile/edit-profile";
@import "../views/amc/amc";
@import "../views/my-transaction/my-transaction";
@import "../directives/filters/filters";
@import "../directives/shop-cart/shop-cart";
@import "../views/checkout/checkout";
@import "../views/compare/compare";
@import "../views/my-package/my-package";
@import "../views/my-bookmark/my-bookmark";
@import"../views/my-receipt/my-receipt";
@import "../views/profile/profile";
@import "../directives/upload-multi-images/upload-multi-images";
@import "../directives/nav-bar/nav-bar";
@import "../views/signup-vendor/signup-vendor";
@import "../views/signup-customer/signup-customer";
@import "../directives/upload-image/upload-image";
@import "../directives/footer-bar/footer-bar";
@import "../views/package-detail/package-detail";
@import "../views/package-create/package-create";
@import "../views/package/package";
@import"../views/home/home";
@import"../views/edit-package/edit-package";

body {
  font-family: 'Nunito', sans-serif;
  padding-top: 40px; 
  padding-bottom: 25px;
}

.main-background{
  background-image:url('../../image/main-background.png'); 
  padding-top:5%; 
  padding-bottom:15%; 
  padding-left:15px; 
  padding-right:15px; 
  min-height:620px;
}

a:link {
  text-decoration: none;
  color: #406a80; 
}

a:hover {
  color: yellow;
  text-decoration: none; 
}

a:visited {
  text-decoration: none;
  color: #406a80; 
}

a:active {
  text-decoration: none;
  color: #406a80; 
}

.text-padding{
	padding-left:5%; 
	padding-right:5%;
}

.center-picture{
  position: relative;
  background-position: center center; 
  background-size: cover; 
  width: 100%; 
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.no-horizotal-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.no-vertical-padding{
  padding-top: 0px;
  padding-bottom: 0px;
}
.sign-up-cover-style{
  margin-top:15px; 
}
.sign-up-header{
  font-size:20px; 
  margin-bottom:0px;
  text-align:left;
}
.required-box{
  color: red;
}