/*
* receipt css
*/
.my-receipt-header{
	font-size: 30px;
  	text-align: center;
  	margin-bottom: 10px;
}
.receipt-cover{
	background-color:rgba(0,0,0,0.65); 
	color:white; 
	padding-top:15px; 
	padding-bottom:15px; 
}
.receipt-total-price-style{
	text-align: left;
	font-size:24px;
}
.receipt-button-cover{
	text-align: center;
}
.modal-receipt-header{
	color: #fb5858;
	font-size: 11px;
}
.modal-receipt-detail{
	font-size: 10px;
}
.modal-receipt-total-price{
	font-size: 25px;
	color: #e1bd00;
	margin-bottom: 0px;
	padding-top: 10px;
}
.receipt-header{
	font-size: 20px;
	color: #fb5858;
}
.receipt-detail{
	font-size: 18px;
	color: white;
}
.receipt-purchased-date{
	font-size:12px; 
	color:#b3b3b3;
	margin-top:15px;
	margin-bottom: 10px;
}
.receipt-icon{
	width:40px; 
	height:40px; 
	margin-top:12px;
	margin-bottom: 12px;
}
.receipt-icon-align{
	text-align: center;
}
.total-price-align{
	text-align: left;
}

@media(min-width:767px){
	.receipt-total-price-style{
		text-align: right;
	}
	.receipt-button-cover{
		text-align: right;
	}
	.modal-receipt-header{
		font-size: 17px;
	}
	.modal-receipt-detail{
		font-size: 15px;
	}
	.receipt-icon-align{
		text-align: left;
	}
	.total-price-align{
		text-align: right;
	}
}