<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid" style="padding-left:0px; padding-right:0px; background-color:rgba(0,0,0,0.85);">
			<!-- Side menu-bar -->
			<div class="col-xs-12 col-sm-12 col-md-3 side-menu-bar-cover">			
				<!-- Sorting -->
				<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
					<div class="col-xs-12 col-sm-12 col-md-12 my-receipt-header">
						My Receipt
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" style="margin-top:50px;">
						<div class="col-xs-12 col-sm-12 col-md-12 sidebar-header">
							Sort by
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:30px; font-size:17px;">
							<div>
								<input type="checkbox"> Purchased Date</input>
							</div>
							<div>
								<input type="checkbox"> Total Price</input>
							</div>							
						</div>	
					</div>									
				</div>	
			</div>
			<!-- Receipt -->
			<div class="col-xs-12 col-sm-12 col-md-9 main-background">
				<div class="col-xs-12 col-sm-12 col-md-12" ng-show="receipts.length == 0">
					<h2 class="no_result">No Receipt.</h2>
				</div>				
				<div ng-repeat="receipt in receipts" class="col-xs-12 col-sm-12 col-md-12" style="margin-top:15px; margin-bottom:15px;">
					<div class="col-xs-12 col-sm-1 col-md-1">
					</div>
					<!-- Receipt -->
					<div class="col-xs-12 col-sm-9 col-md-9 receipt-cover">
						<div class="col-xs-12 col-sm-1 col-md-1 receipt-icon-align">
							<img src="../image/receipt-2.png" class="receipt-icon"></img>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<font class="receipt-header">Receipt No. :</font>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<font class="receipt-detail">{{receipt._id}}</font>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p class="receipt-purchased-date">Purchase date : {{receipt.created_at}}</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5">
							<div class="col-xs-12 col-sm-12 col-md-12 total-price-align">
								<p class="receipt-header">Total Price : <font class="receipt-detail">{{receipt.total_price}}</font></p>
								<p class="receipt-total-price-style"></p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 receipt-button-cover">
								<button class="btn btn-primary" ng-click="openReceiptInfoModal(receipt)"><img src="../image/view.png" style="width:20px; height:20px;"></img></button>
								<button class="btn btn-danger"><img src="../image/delete.png" style="width:20px; height:20px;"></img></button>
							</div>
						</div>
					</div>					
				</div>	
				<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center; margin-top:15px;">
						<uib-pagination total-items="totalItems" items-per-page="limit" ng-change="pageChanged(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-md" boundary-links="true" rotate="false"></uib-pagination>
				</div>			
			</div>		
		</div>

	</body>
</html>