/*
* home.scss
*/
.center-caption{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);  
	text-align: center; 
	color: white;
}

.center-picture{
	background-position: center center; 
	background-size: cover; 
	width: 100%; 
	height: 540px;
	box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
}

.center-normal-picture{
	background-position: center center; 
	background-size: cover; 
	width: 100%; 
	height: 200px;
}

.center-picture-slider{
	background-position: center center; 
	background-size: cover; 
	width: 100%; 
	height: 392px;
}

.recommend-package-style{
	background-color: #f9f9fa;
	padding-top:5%; 
	padding-bottom:5%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height:500px;
	box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
	color:#57bdad;
}
.recommend-package-cover{
	margin-top:50px; 
	padding-left:1.5%; 
	padding-right:1.5%; 
	padding-top:1.5%; 
	padding-bottom:1.5%; 
}
.recommend-package-footer-style{
	background-color: #f9f9fa;
	padding-top:10px; 
	padding-bottom:10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #f4f4f5;
	color: #b3b3b3; 
	height: 40px;
	box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
}


