<!Doctype html>
<html>
	<head>
		<title>Test Ja</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- <link href="../css/acholic.default.css" rel="stylesheet"> -->
		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	
	<body>
	 
	  
	  	<!-- Filter Options -->
	  	<div>
			<div class="container-fluid" style="background-color:#202121; padding-top: 70px">
				<div class="container">
					<h3 style="color:#ebebeb"><center>Filter Options</center></h3>
					<!-- Hiding Filter Page -->
					<div id="filter_menu" class="collapse">
						<div class="row" style="background-color:red">
							<div class="col-md-5"> 
								<div class="col-md-2">
									Place
								</div>
								<div class="input-group col-md-10">
							        <input type="text" class="form-control" placeholder="Activity Place" name="srch-term" id="srch-term">
							        <div class="input-group-btn">
							             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-chevron-down"></span></button>
							    	</div>
							    </div>
							</div>
							<br><br>
							<div class="col-md-5" style="float:none"> 
								<div class="col-md-2">
									<label>Type</label>
								</div>
								<div class="input-group col-md-10">
							        <input type="text" class="form-control" placeholder="Activity Type" name="srch-term" id="srch-term">
							        <div class="input-group-btn">
							             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-chevron-down"></span></button>
							    	</div>
							    </div>
							</div>
						</div>
						<select name="guests" class="guest-select" id="guest-select" data-prefill="">
			                <option value="1">1 Guest</option>
							<option value="2">2 Guests</option>
							<option value="3">3 Guests</option>
							<option value="4">4 Guests</option>
							<option value="5">5 Guests</option>
							<option value="6">6 Guests</option>
							<option value="7">7 Guests</option>
							<option value="8">8 Guests</option>
							<option value="9">9 Guests</option>
							<option value="10">10 Guests</option>
							<option value="11">11 Guests</option>
							<option value="12">12 Guests</option>
							<option value="13">13 Guests</option>
							<option value="14">14 Guests</option>
							<option value="15">15 Guests</option>
							<option value="16">16+ Guests</option>
			              </select>
					</div>
					<!-- End Hiding Filter Page -->
				</div>
			</div>
			<!-- Button for Expand Hiding Page -->
			<div style="background-color:black">
				<center><button data-toggle="collapse" data-target="#filter_menu" style="background-color:transparent; border:none; padding:0"><img src="../image/expand.png"></button></center>
			</div>
			<!-- End Button for Expand Hiding Page -->
		</div>
		<!-- End Filter Options -->

		<!-- Packages -->
		<div>
			<div class="container-fluid" style="background-color:#ebebeb">
				<div class="container">
					<h2 style="color:#3b3a3a"><center>Packages</center></h2>
					<div row="row-fluid">
						<div class="col-md-4">	
							<center><img src="../image/test1.png"></center>
							<a href="#" style="color:#3b3a3a; padding-left:30px">AAAAA</a>
							<div style="padding-left:30px">
								<img src="../image/star_rated.png">
								<img src="../image/star_rated.png">
								<img src="../image/star_rated.png">
								<img src="../image/star_rated.png">
								<img src="../image/star_unrated.png">
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<center><img src="../image/test1.png"></center>
								<a href="#" style="color:#3b3a3a; padding-left:30px">BBBBB</a>
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<center><img src="../image/test1.png"></center>
								<a href="#" style="color:#3b3a3a; padding-left:30px">CCCCC</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Packages -->
	</body>
</html>