/*
* home.scss
*/
.center-caption{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);  
	text-align: center; 
	color: white;
}
.center-picture-slider{
	background-position: center center; 
	background-size: cover; 
	width: 100%; 
	height: 392px;
}
.about-service-style{
	background-color:rgba(0,0,0,0.65); 
	margin-top:5px;
	padding-top:2%;
	padding-bottom:2%;
	height: 250px;
}
.crop-image{
	height: auto;
    width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.recommend-package-cover{
	padding-left:0px; 
	padding-right:0px; 
	padding-top: 0px;
}
.recommend-package-style {
    width:100%;
    height:270px;
}
.recommend-package-style figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    width:100%;
    height:270px;
}
.recommend-package-style figure img {
    position:relative;
    z-index:10;
}
.recommend-package-style figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.recommended-package-header{
	padding-top: 20px;
	text-align:center;
	font-size: 25px;
}
.recommended-package-detail{
	font-size: 15px;
}
.recommend-package-style figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(0,0,0,0.65);
    text-align:center;
    -webkit-backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.recommend-package-style figure img {
    -webkit-backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}
.recommend-package-style figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.recommend-package-style figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0);
}
.recommended-header-overflow{
   overflow: hidden;
   color:white;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 2;        /* fallback */
   max-height: 2;       /* fallback */
}
.recommended-description-overflow{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; /* number of lines to show */
   line-height: 2;        /* fallback */
   max-height: 8;       /* fallback */
}
.ourteam-style{
	margin-top: 2%;
	text-align:center; 
}
@media(min-width:767px){
	.about-service-boder{
		border-right: 1px solid;
	}
	.ourteam-border{
		border-right: 1px solid;
		border-left: 1px solid;
	}
}