<!Doctype html>
<html>
	<head>
		<title>ACHOLIC Home</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<div>
			<!-- Image Slider -->
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  	<!-- Indicators -->
			  	<ol class="carousel-indicators" >
			    	<li data-target="#myCarousel" data-slide-to="$index" ng-class="{active:!$index}" ng-repeat="picture in sliderpics track by $index"></li>
			  	</ol>

			  	<!-- Wrapper for slides -->	
				<div class="carousel-inner" role="listbox">
				  	<div class="item center-picture" ng-class="{active:!$index}" ng-repeat="picture in sliderpics"
				  	ng-style="{'background-image':'url('+ picture.src +')'}" style="-webkit-filter: grayscale(20%); height:710px;">
				  		<div class="center-caption font-effect-outline">
					  		<p style="font-size: 30px">Find Your Own</p><br>
					  		<p style="font-size: 65px">"ACTIVITIES"</p>					  		
				  		</div>				  		
				  	</div>
				</div>
			
			  	<!-- Left and right controls -->
			  	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
			</div>

			<!-- Welcome -->
			<div class="container-fluid center-picture" style="background-image:url('../../image/welcome-background.png'); height: 350px;">
				<div class="center-caption col-xs-12 col-sm-12 col-md-12">		  		
					  		<p style="font-size: 50px">ยินดีต้อนรับสู่ MostMark</p><br>
					  		<p style="font-size: 25px"> เว็บไซต์เพื่อการซื้อ-ขาย แพ็คเกจภจญภัย</p>
				</div>
			</div>

			<!-- About Us -->
			<div class="center-picture col-xs-12 col-sm-12 col-md-12" style="background-image:url('../../image/aboutUs-background.png'); max-height: 700px; color:white;">
				<div class="container" style="padding-top:5%; padding-bottom:5%">
					<p style="font-size: 50px; text-align:center;">ร่วมเป็นส่วนหนึ่งของ MostMark</p>
					<div class="container about-service-style col-xs-12 col-sm-12 col-md-12">
						<p style="font-size: 25px; text-align:center;">การเข้าร่วม</p>
						<div class="text-padding" style="font-size: 16px; text-align:center;">
							เว็บไซต์ของเราได้แบ่งกลุ่มผู้ใช้เป็น2ส่วนคือ ผู้ซื้อ และผู้ขาย แพ็คเกจผจญภัย เมื่อท่านสมัครสมาชิก ระบบจะให้ท่านเป็นผู้ซื้อก่อน
							<br>หากท่านต้องการเป็นผู้ขาย ท่านจะต้องกรอกข้อมูลเพิ่มเติมในหน้าโปรไฟล์
							<!-- In MOSTMARK website, we split users into 2 groups which are Customer and Vendor. In our websiteyou need to sign up as Customer first. 
							<br>To become a Vendor, you need to add extra information which is required in profile page. -->
						</div>
						<div style="text-align:center; padding-top:6%;">
							<button type="button" class="btn btn-success"><a href="/signup/customer" style="color:white; font-size: 18px;">สมัครสมาชิก</a></button>
						</div>
					</div>					
				</div>
			</div>
			<!-- Slogan -->
			<div class="container-fluid center-picture col-xs-12 col-sm-12 col-md-12" style="background-image:url('../../image/slogan-background.png'); height: 350px; color:white;">
				<div class="center-caption col-xs-12 col-sm-12 col-md-12">
					<p style="font-size: 40px">Time for a</p><br>
					<p style="font-size: 42px">NEW ADVENTURE</p><br>
				</div>
			</div>
			<!-- Recommended -->
			<div class="center-picture col-xs-12 col-sm-12 col-md-12" style="background-image:url('../../image/recommended-background.png'); padding-top:5%; padding-bottom:5%; ">
				<div class="container" style="width:100%; color:white">
					<p style="font-size:50px; text-align:center; margin-bottom:50px; color:#fbd300;">แพ็คเกจแนะนำ</p>
				</div>
				<div class="container">
					<div ng-repeat="package in packageItems">
						<div class="col-xs-12 col-sm-6 col-md-4 recommend-package-cover">
							<div class="recommend-package-style">
								<ul style="padding-left: 0px; margin-bottom: 0px;">
								    <li>
								    	<a href="/packageDetail/{{package._id}}">
									        <figure>
									        		<div ng-if="package.image">
														<img class="center-picture" ng-src="api/images/{{package.image}}" style="height:270px;"></img>
													</div>
													<div ng-if="!package.image">
														<img class="center-picture" ng-src="../image/MostMark.png" style="height:270px;"></img>
													</div>
									            <figcaption>
									                <p class= "recommended-package-header recommended-header-overflow" style="color:white">{{package.name}}</p>
									               	<p class="recommended-package-detail text-padding recommended-description-overflow" style="text-align:left">{{package.description}}</p>
									            </figcaption>
									        </figure>
								    	</a>
								    </li>
								</ul>
							</div>
						</div>						
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center; margin-top:30px;">
							<a href="/package"><button class="btn" style="font-size:20px; color:black; background-color:#fbd300;">ดูแพ็คเกจทั้งหมด</button></a>
					</div>
				</div>
			</div>

	        <!-- Our Team -->
			<div class="center-picture col-xs-12 col-sm-12 col-md-12" style="background-image:url('../../image/ourTeam-background.png'); max-height: 1000px; color:white; padding-bottom:50px;">
				<div class="container" style="padding-top:5%; width:100%;">
					<p style="font-size: 50px; text-align:center;">ทีมงานของเรา</p>
				</div>
				<div class="container">
					<div class="col-xs-12 col-sm-4 col-md-4 ourteam-style">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<img class="crop-image" src="../../image/ourTeam-oat.png"></img>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p style="font-size: 20px; margin-top:20px;">Eknarin Thirayothin</p><br>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 ourteam-style">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<img class="crop-image" src="../../image/ourTeam-kf.png"></img>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p style="font-size: 20px; margin-top:20px;">Natcha Chidchob</p><br>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 ourteam-style">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<img class="crop-image" src="../../image/ourTeam-save.png"></img>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p style="font-size: 20px; margin-top:20px;">Kridpak Vorametpasuk</p><br>
						</div>
					</div>
				</div>
				<br>
			</div>
	    </div>
	    <shop-cart></shop-cart>
	</body>
</html>