<!-- filter -->
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p style="font-size:30px;">Filter Options</p>
				</div>
				<!-- filter location -->
				<div class="col-xs-12 col-sm-12 col-md-12 btn-group filter-dropdownbtn-style">
					<button type="button" class="btn btn-default" style="width:89.8%; padding-left:0px" ng-bind='selected'> Province </button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
					    <li ng-repeat="p in provinces" ng-name="p.name" ng-model="p.name" ng-click="setProvince(p.name)"><a href="#">{{p.name}}</a></li>
					</ul>
				</div>
				<!-- filter tag -->
				<div class="col-xs-12 col-sm-12 col-md-12 btn-group filter-dropdownbtn-style">
					<button type="button" class="btn btn-default" style="width:90%; padding-left:0px" ng-bind="selectedType"> Type </button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
					    <li ng-repeat="t in types" ng-click="setType(t.name)"><a href="#">{{t.name}}</a></li>
					</ul>
				</div>
				<!-- filter people amount -->
				<div class="col-xs-12 col-sm-12 col-md-12 btn-group filter-dropdownbtn-style">
					<button type="button" class="btn btn-default" style="width:90%" ng-bing="guest"> {{guest}} </button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
						<span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
				  	</button>
					<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
						<li ng-repeat="g in guests" ng-click="setGuest(g.n)"><a href="#">{{g.n}}</a></li>
					</ul>
				</div>
				<!-- filter price -->
				<div class="col-xs-12 col-sm-12 col-md-12 filter-dropdownbtn-style">
					<div class="col-md-12 font-effect-outline" style="height=15px;padding-top:5px; text-align:left;">		 
						<label style="color:white;font-size:16px;margin-top:15px;">Price Rate</label>		       	
			        </div>
			       	<div class="col-md-12">
						<rzslider
					        rz-slider-model="slider.min"
						    rz-slider-high="slider.max"
						    rz-slider-options="slider.options">
						</rzslider>
					</div>	
				</div>
				<!-- filter button -->
				<div class="col-xs-12 col-sm-12 col-md-12 filter-dropdownbtn-style">
					<button type="button" class="btn btn-warning btn-lg" style="margin-bottom:15px;color:black;border: 1px solid black;" ng-click="filtering()"> Filter </button>
				</div>
