/**
 * shopping-cart.scss
 */
.checkout-header{
 	font-size: 37px;
}

.checkout-table{
	color:white; 
	padding-top:15px; 
	padding-bottom:15px;
	margin-bottom: 0px;
}
.checkout-table-overflow{
    overflow-x: auto;
    white-space: nowrap;
}
.checkout-order-summary-cover{
	padding-bottom: 0px;
	margin-bottom: 15px;
	background-color:rgba(0,0,0,0.65); 
	color:white;
}
.checkout-order-summary-header{
	font-size: 30px;
	padding-top:10px; 
	text-align:left;
	// background-color: rgba(0,0,0,0.65);	
}

.checkout-order-summary-table-header{
	font-size: 16px;
	padding-bottom: 0px;
	background-color:rgba(0,0,0,0.45); 
	color:#fb5858;
}
.checkout-order-summary-table-detail{
	font-size: 13px;
}
.my-cart-input-number{
	width:50px;
	color:black;
}
.my-cart-summary-header-box{
	background-color:rgba(0,0,0,0.85);
	text-align:center;	
}
.my-cart-summary-detail-box{
	background-color:rgba(0,0,0,0.65);
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.my-cart-summary-header{
	font-size: 23px;
	color: white;
	padding-top: 10px;
}
.my-cart-summary-detail{
	font-size: 15px;
	color: white;
	padding-top: 10px;
}
.my-cart-payment-button{
	background-color:#fbd300; 
	color:white;
}

@media(min-width:767px){
	.checkout-header{
 		font-size:50px;
 	}
 	.checkout-order-summary-table-header{
		font-size: 18px;
	}
	.my-cart-summary-header{
		font-size: 30px;
	}
	.checkout-order-summary-table-detail{
		font-size: 15px;
	}
}
