/**
 * shopping-cart.scss
 */
.checkout-body-style{
	min-height: 10px;
	padding-bottom:200px;
}
.checkout-header{
 	font-size: 37px;
}

.checkout-table{
	color:white; 
	padding-top:15px; 
	padding-bottom:15px;
	margin-bottom: 0px;
}
.checkout-table-overflow{
    overflow-x: auto;
    white-space: nowrap;
}
.checkout-order-summary-cover{
	padding-bottom: 0px;
	margin-bottom: 15px;
	background-color:rgba(0,0,0,0.65); 
	color:white;
}
.checkout-order-summary-header{
	font-size: 30px;
	padding-top:10px; 
	text-align:left;
	color: white;
}
.checkout-order-summary-table-header{
	font-size: 16px;
	padding-bottom: 0px;
	background-color:rgba(0,0,0,0.45); 
	color:#fb5858;
}
.checkout-order-summary-table-detail{
	font-size: 13px;
}
.checkout-payment-header{
	font-size: 30px;
	padding-top:10px; 
	text-align:left;
	color: white;
}
.checkout-header-box{
	background-color:rgba(0,0,0,0.85);
	text-align:center;	
}
.checkout-detail-box{
	background-color:rgba(0,0,0,0.65);
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.checkout-header{
	font-size: 23px;
	color: white;
	padding-top: 10px;
}
.checkout-detail{
	font-size: 14px;
	color: white;
	padding-top: 10px;
}
.checkout-total-price{
	font-size: 22px;
	color: #fb5858;
}
.my-cart-payment-button{
	background-color:#e1bd00; 
	color:white;
}

@media(min-width:767px){
	.checkout-body-style{
		min-height: 620px;
	}
	.checkout-header{
 		font-size:50px;
 	}
 	.checkout-order-summary-table-header{
		font-size: 18px;
	}
	.checkout-order-summary-table-detail{
		font-size: 15px;
	}
	.checkout-total-price{
		font-size: 25px;
	}
}
