<div>
<h4>Upload on file select</h4>
  <button class="btn btn-warning" ngf-select="uploadFiles($files, $invalidFiles)" multiple
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select Files</button>
  <br><br>
  <h3>Files:</h3>

  <div class="table_container">
    <table class="table" style="text-align:center;">
      <tbody>
        <tr ng-repeat="image in images">
          <td>
            <img class="img-responsive package_img" ng-src="/api/images/{{image}}"/>
          </td>
          <td>{{image.name}} {{image.$errorParam}} </td>
          <td><button type="button" value="Remove" class="btn btn-danger" data-ng-click="removeRow($index)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
