<div class="modal-header">
  <p style="font-size:30px;">Receipt : Receipt No.</p>
  <p style="font-size:15px;">Purcahsed at : dd/mm/yyyy</p>

</div>
<div class="modal-body" style="padding-bottom:0px;">    
	<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" >
        <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
            <p class="modal-receipt-header">Package<p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-header">Price (฿)</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
          	<p class="modal-receipt-header">Amount</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-header">Subtotal</p>
        </div>
    </div>          
    <HR WIDTH="100%" NOSHADE>
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" >
        <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
            <p class="modal-receipt-detail">name<p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">price</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">             
            <p class="modal-receipt-detail">amount</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">sub_price</p>             
        </div>           
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" >
        <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
            <p class="modal-receipt-detail">name<p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">price</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">             
            <p class="modal-receipt-detail">amount</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">sub_price</p>             
        </div>           
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" >
        <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
            <p class="modal-receipt-detail">name<p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">price</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">             
            <p class="modal-receipt-detail">amount</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">sub_price</p>             
        </div>           
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" >
        <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
            <p class="modal-receipt-detail">name<p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">price</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">             
            <p class="modal-receipt-detail">amount</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
            <p class="modal-receipt-detail">sub_price</p>             
        </div>           
    </div>
	<HR WIDTH="100%" NOSHADE>   
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
        <div class="col-xs-6 col-sm-5 col-md-5 no-horizotal-padding">
            <p class="modal-receipt-total-price">Total (฿) :<p>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-7 no-horizotal-padding">
            <p class="modal-receipt-total-price">total price<p>
        </div>
    </div>

</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
</div>