<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="background-image:url('../../image/customer-signup-background.png'); height:900px;">
			<!-- blank div for make vertical space -->
			<div class="container" style="margin-top:70px">
			</div>
			<!-- Customer Header -->
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p class="customer-header-size" style=" text-align:center; color:white;">Edit Profile</p>
				</div>
			</div>			
			<!-- Customer SignUp -->
			<div class="container" style="color:white;">
				<!-- Blank div for left space -->
				<div class="col-xs-12 col-sm-12 col-md-2">
				</div>
				<!-- SignUP -->
				<div class="col-xs-12 col-sm-12 col-md-8" style="margin-top:15px;">
					<!-- Tab Menu -->
					<div class="col-xs-12 col-sm-12 col-md-12 tab-menu-style"> 
					  <ul class="nav nav-tabs" id="myTab">
					    <li role="presentation" class="col-xs-3 col-sm-3 col-md-3 tab-item-menu-style {{tabs[0]}}" ng-click="activeTab(0)"><a data-toggle="tab" data-target="#account" role="tab" aria-controls="account"><img src="../../image/account.png" style="width:50px; height:50px;"></img></a></li>
					    
					    <li role="presentation" class="col-xs-3 col-sm-3 col-md-3 tab-item-menu-style {{tabs[1]}}"><a data-toggle="tab" data-target="#security" role="tab" aria-controls="security" ng-click="activeTab(1)"><img src="../../image/security.png" style="width:50px; height:50px;"></img></a></li>
					    
					    <li role="presentation" class="col-xs-3 col-sm-3 col-md-3 tab-item-menu-style {{tabs[2]}}"><a data-toggle="tab" data-target="#contact" role="tab" aria-controls="contact" ng-click="activeTab(2)"><img src="../../image/contact.png" style="width:50px; height:50px;"></img></a></li>

					    <li role="presentation" class="col-xs-3 col-sm-3 col-md-3 tab-item-menu-style {{tabs[3]}}"><a data-toggle="tab" data-target="#addimage" role="tab" aria-controls="addimage" ng-click="activeTab(3)"><img src="../../image/image.png" style="width:50px; height:50px;"></img></a></li>
					  </ul>
					</div>  
				
				  	<div class="tab-content col-xs-12 col-sm-12 col-md-12" style="background-color:rgba(0,0,0,0.65); padding-top:20px">
				  		<!-- account panel -->
				    	<div role="tabpanel" id="account" class="tab-pane active">
				      		<center>
					      		<form>
					      			<!-- First Name -->
					      			<div class="input-width sign-up-cover-style">
										<p class="sign-up-header"><font class="required-box">*</font> First Name</p>					
										<input required ng-model="user.first_name" class="signup-inputbox-style input-width" type="text" name="FirstName"><br>
									</div>

									<!-- Last Name -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header"><font class="required-box">*</font> Last Name</p>	
										<input required ng-model="user.last_name" class="signup-inputbox-style input-width" type="text" name="LastName"><br>
									</div>
									<!-- Gender -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header">Gender</p>
										<div style="padding-left:50px; text-align:left;">
											<input type="radio" ng-model="user.gender" value="Men" name="gender"> MEN<br>
											<input type="radio" ng-model="user.gender" value="Women" name="gender"> WOMEN<br>
											<input type="radio" ng-model="user.gender" value="Other" name="gender"> OTHER<br>
										</div>
									</div>	

									<!-- ฺBirth Date -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header">Birth Date</p>
										<datepicker date-format="dd-MM-yyyy" date-year-title="selected title">
										  <input class="signup-inputbox-style input-width" ng-model="user.date_of_birth" type="text"/>
										</datepicker>
									</div>	

									<!-- Button -->
									<div class="input-width" style="margin-top:15px; margin-bottom:15px;">
										<button type="button" class="btn btn-success" ng-click="activeTab(1)" data-toggle="tab" data-target="#security" >Next</button>							
									</div>	

								</form>
							</center>
				    	</div>
				    	<!-- security panel -->
				    	<div role="tabpanel" id="security" class="tab-pane">
				      		<center>
					      		<form>
					      			<!-- Email -->
					      			<div class="input-width sign-up-cover-style">
										<p class="sign-up-header"><font class="required-box">*</font> Email</p>	
										<input required ng-model="user.email" class="signup-inputbox-style input-width" type="text" name="email"><br>
									</div>
									<!-- Vendor Email -->
					      			<div class="input-width sign-up-cover-style" ng-show="user.vendor">
										<p class="sign-up-header"><font class="required-box">*</font> Vendor Email</p>	
										<input required ng-model="user.vendor.alt_email" class="signup-inputbox-style input-width" type="text" name="email"><br>
									</div>
									<!-- ID Number -->
									<div class="input-width sign-up-cover-style" ng-show="user.vendor">
										<p class="sign-up-header"><font class="required-box">*</font> Identification Number</p>	
										<input ng-model="user.vendor.identification_num" name="id_num" required class="signup-inputbox-style input-width" type="text" pattern="[0-9]{13}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="confirm-password" placeholder="13 number digits"><br>	
									</div>
									<!-- Provider Number -->
									<div class="input-width sign-up-cover-style" ng-show="user.vendor">
										<p class="sign-up-header"><font class="required-box">*</font> Tourist Business license no.</p>	
										<input ng-model="user.vendor.provider_num" name="provider" required pattern="[0-9]{2}/[0-9]{5}" class="signup-inputbox-style input-width" type="text" name="confirm-password" placeholder="xx/xxxxx"><br>	
									</div>
								
									<!-- Button -->
									<div class="input-width" style="margin-top:15px; margin-bottom:15px;">
										<button type="button" class="btn btn-danger" ng-click="activeTab(0)" data-toggle="tab" data-target="#account">Back</button>
										<button type="button" class="btn btn-success" ng-click="activeTab(2)" data-toggle="tab" data-target="#contact">Next</button>
									</div>									

								</form>
							</center>
				    	</div>
	
				    	<!-- contact panel -->
				    	<div role="tabpanel" id="contact" class="tab-pane">
				      		<center>
					      		<form>
					      			<!-- Address -->
					      			<div class="input-width sign-up-cover-style">
										<p class="sign-up-header">Address</p>	
										<textarea ng-model="user.address.address" class="form-control signup-inputbox-style input-width" rows="5" name="address"></textarea>
									</div>

									<!-- Zip Code -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header">Zipcode</p>	
										<input ng-model="user.address.zip_code"  class="signup-inputbox-style input-width" type="text" name="zipcode"><br>
									</div>

									<!-- Phone -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header"><font class="required-box">*</font> Phone</p>	
										<input ng-model="user.phone_number"  required class="signup-inputbox-style input-width" type="text" name="phone"><br>	
									</div>								
								</form>
					      		<form ng-show="user.vendor">
					      			<!-- Vendor Address -->
					      			<div class="input-width sign-up-cover-style">
										<p class="sign-up-header">Vendor Address</p>	
										<textarea ng-model="user.vendor.address.address" class="form-control signup-inputbox-style input-width" rows="5" name="address"></textarea>
									</div>

									<!-- Vendor Zip Code -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header">Vendor Zipcode</p>	
										<input ng-model="user.vendor.address.zip_code"  class="signup-inputbox-style input-width" type="text" name="zipcode"><br>
									</div>

									<!-- vendor Phone -->
									<div class="input-width sign-up-cover-style">
										<p class="sign-up-header"><font class="required-box">*</font> Vendor Phone</p>	
										<input ng-model="user.vendor.phone_number"  required class="signup-inputbox-style input-width" type="text" name="phone"><br>	
									</div>						
								</form>
								<!-- Button -->
								<div class="input-width" style="margin-top:15px; margin-bottom:15px;">
									<button type="button" class="btn btn-danger" ng-click="activeTab(1)" data-toggle="tab" data-target="#security">Back</button>
									<button type="button" class="btn btn-success" ng-click="activeTab(3)" data-toggle="tab" data-target="#addimage">Next</button>
								</div>		
							</center>
				    	</div>
				    	<div role="tabpanel" id="addimage" class="tab-pane">
				      		<center>
					      		<form>
					      			<!-- //required -->
					      			<div class="col-xs-12 col-sm-12 col-md-12">
					      				<p style="font-size:20px"><font class="required-box">*</font> PROFILE IMAGE</p>
					      			</div>
					      			<div class="col-xs-12 col-sm-12 col-md-12">
					      				<img ng-show="user.image" class="edit-profile-image-style" ng-src=api/images/{{user.image}}></img>
					      				<img ng-show="!user.image && user.facebook_image" class="edit-profile-image-style" ng-src={{user.facebook_image}}></img>
					      			</div>
					      			<div class="col-xs-12 col-sm-12 col-md-12 upload-image-style center-picture" ng-show="user.image">
										<upload-image image="user.image"></upload-image>
									</div>
					      			<!-- Button -->
									<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:15px; margin-bottom:15px;">
										<button type="button" class="btn btn-danger" ng-click="activeTab(2)" data-toggle="tab" data-target="#contact">Back</button>
										<button ng-click="onSubmit()" type="button" class="btn btn-success">Submit</button>
									</div>	
								</form>								
							</center>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>	
	</body>
</html>


