<div class="shop-cart-button" ng-if="userId.length != null && cart.length != 0">
  <a class="navbar-btn btn-warning btn pull-right">
    <img src="../../image/cart.png" class="more-function" data-toggle="modal" data-target="#cartModal">
  </a>
</div>
<div class="shop-cart-button" ng-if="userId.length != null && cart.length == 0">
  <a class="navbar-btn btn-warning btn pull-right">
    <img src="../../image/cart.png" class="more-function" data-toggle="modal" data-target="#noCartModal">
  </a>
</div>

<!-- Modal -->
  <div class="modal fade" id="noCartModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="package-modal-header">My Cart</h4>
        </div>
        <div class="modal-body">
          <h4>Your cart is now empty. Please add some package.</h4>
        </div>
        <div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
          <HR WIDTH="100%" NOSHADE>        
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!-- Modal -->
  <div class="modal fade" id="cartModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="package-modal-header">My Cart</h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" >
            <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
              <p class="shop-cart-modal-header">Package<p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-header">Type</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-header">Price (฿)</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-header">Amount</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-header">Subtotal</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 no-horizotal-padding">
              
            </div>

          </div>          
          <HR WIDTH="100%" NOSHADE>
          <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="c in cart">
            <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
              <p class="shop-cart-modal-detail">{{c.package.name}}<p>
            </div>
             <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-detail">{{c.cart_item.type}}</p>              
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-detail">{{c.cart_item.price}}</p>
              <!-- {{c.cart_item.type}} -->
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">             
               <input class="shop-cart-modal-amount-box" ng-model="c.cart_item.amount" type="number" min="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required></input>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
              <p class="shop-cart-modal-detail">{{c.sub_price}}</p>             
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 no-horizotal-padding" style="text-align:right;">
              <button class="btn btn-danger" ng-click="removeItem($index)" style="font-size:10px;">x</button>
            </div>
          </div>
      </div>
      <div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
        <HR WIDTH="100%" NOSHADE>        
        <button type="button" class="btn btn-default" style="background-color:#e1bd00; color:white;" ng-click="checkout()"> Checkout </button>
      </div>
    </div>
  </div>

