/**
 * my-bookmark.scss
 */
 .bookmark-header-size{
 	font-size: 37px;
 }
 .bookmark-image-style{
 	width: 100%;
 	height: 200px;
 }
 .bookmark-package-cover-style{ 	
 	padding-top:30px; 
 	padding-bottom:30px; 
 	margin-top: 30px;
 	margin-bottom:30px; 
 	background-color:rgba(0,0,0,0.75)
 }
 .bookmark-package-information-style{
 	margin-top: 30px;
 	padding-bottom:20px; 
 	color:white;
 	padding-left: 0px;
 	padding-right: 0px;
 }
 .bookmark-package-name-style{
 	font-size:25px;
   overflow: hidden;
   color:white;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.5;        /* fallback */
   max-height: 1.2;       /* fallback */
 }
 .bookmark-package-location-style{
	font-size:20px; 	
 }
 .bookmark-package-price-style{
 	text-align: left;
 	font-size:17px; 
 	margin-top:12px;
 }
 .bookmark-package-button-style{
 	margin-top:15px;
 	margin-bottom:15px;
 }
 .bookmark-package-button-cover-style{
 	text-align:center; 
 	margin-top:20px;
 }

 @media(min-width:767px){
 	.bookmark-header-size{
	 	font-size: 50px;
	 }
	.bookmark-image-style{
	 	width: auto;
	 	height: 320px;
	}
	.bookmark-package-name-style{
	 	font-size:30px;
	 }
	 .bookmark-package-price-style{
	 	text-align: left;
	 	font-size:20px; 
	 	margin-top:12px;
	 }
	.bookmark-package-price-style{
	 	text-align: right;
	 }
	 .bookmark-package-button-cover-style{
	 	text-align:center; 
	 	margin-top:40px;
	 }
 }
