<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid no-horizotal-padding" style="background-color:rgba(0,0,0,0.85);">		

			<!-- Bookmark Folder -->
			<div class="col-xs-12 col-sm-12 col-md-3 bookmark-folder-cover">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p style="font-size:30px;">Bookmarks</p>
				</div>

				<!-- Folder -->
				<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
					<p style="margin-bottom:0px;"> All Bookmarks (20)</p>
				</div>
				<!-- Folder -->
				<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button">
					<p style="margin-bottom:0px;"> Folder A (10)</p>
				</div>
				<!-- Folder -->
				<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button">
					<p style="margin-bottom:0px;"> Folder B (3)</p>
				</div>
				<!-- Folder -->
				<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button">
					<p style="margin-bottom:0px;"> Folder C (7)</p>
				</div>
				
			</div>

			<!-- Bookmark Package -->
			<div class="col-xs-12 col-sm-12 col-md-9" style="background-image:url('../../image/main-background.png'); padding-top:5%; padding-bottom:15%; padding-left:15px; padding-right:15px; min-height:620px">
				<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding bookmark-package-cover" ng-repeat="bookmark in bookmarks">
					<div class="col-xs-12 col-sm-12 col-md-7">
						<img class="center-picture bookmark-image-style" ng-src=api/images/{{bookmark.packageId.image}}></img>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-5" style="padding-top:40px;">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-8 col-md-8">
								<p class="bookmark-package-name-style"><a href="/packageDetail/{{bookmark.packageId._id}}" style="color:white">{{bookmark.packageId.name}}</a></p>
								<!-- Rating -->
								<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getStar(bookmark.packageId.rating) track by $index" ng-src="../image/star_rated.png">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-if="((bookmark.packageId.rating)/2)%1 >= 0.5" ng-src="../image/star_rated_half.png">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getWhite(bookmark.packageId.rating) track by $index" ng-src="../image/star_unrated.png">
								
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 bookmark-package-price-style">
								<p>{{bookmark.packageId.price}} ฿</p>
							</div>
						</div>

						<!-- Remove & Add to Cart button -->
						<div class="col-xs-12 col-sm-12 col-md-12 bookmark-package-button-cover-style">
							<div class="col-xs-6 col-sm-6 col-md-6 bookmark-package-button-style">
								<img src="../../image/add-package-to-cart.png" style="width:50px; height:50px;"></img>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 bookmark-package-button-style">
								<img src="../../image/remove-button.png" style="width:50px; height:50px;" ng-click="unBookmark(bookmark)"></img>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>