/**
 * package-item.scss
 */
/**
 * package.scss
 */
.package_pic {
  border: 1px solid black;
  display: inline-block;
  position: relative; }

.package {
  display: inline-block;
  position: relative; }

.like_button {
  position: absolute;
  right: 10px;
  top: 10px; }

.price {
  position: absolute;
  bottom: 20px;
  float: left;
  color: #ebebeb;
  background-color: #202121;
  width: 80px;
  height: 30px;
  font-size: 18px; }

.package_item {
  margin-top: 30px; }

.dropdown_filter {
  width: 90%;
  text-align: left;
  color: grey; }

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden; }

body {
  font-family: sans-serif; }
