/**
 * signup-vendor.scss
 */
/**
 * signup-customer.scss
 */
/*
*footer.scss
*/
.footer {
  background-color: #d4d9db;
  padding-top: 10px; }

.inner-footer {
  color: #406a80; }

.footer-choice {
  font-size: 25px;
  font-style: bold; }

/**
 * package-detail.scss
 */
.topic-style {
  font-size: 140%;
  color: #a1a1a1;
  padding-left: 10%; }

.detail-style {
  font-size: 150%;
  padding-left: 22%; }

.package-detail-picture {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 200px;
  max-height: 570px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

/**
 * package-create.scss
 */
.topic-style {
  font-size: 140%;
  color: #a1a1a1;
  padding-left: 10%; }

.input-style {
  font-size: 150%;
  padding-left: 22%;
  margin-bottom: 3%; }

/**
 * package.scss
 */
.body {
  width: 100%; }

.package_pic {
  border: 1px solid black;
  display: inline-block;
  position: relative;
  width: 100%; }

.package {
  background-color: #f9f9fa;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 15px;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
  border: 1px solid #BDBDBD; }

.like_button {
  position: absolute;
  right: 7%;
  top: 7%;
  width: 40px;
  height: 40px; }

.price {
  position: absolute;
  top: 200px;
  float: left;
  color: #406A80;
  background-color: #202121;
  width: 110px;
  height: 32px;
  font-size: 27px; }

.package_item {
  margin-top: 30px;
  overflow: auto; }

.dropdown_filter {
  width: 90%;
  text-align: left;
  color: grey; }

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden; }

.filter-section {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 15px; }

.package-style {
  background-color: rgba(0, 0, 0, 0.65);
  padding-bottom: 5%;
  height: 400px;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
  color: white; }
  .package-style a:link {
    text-decoration: none;
    color: #406a80; }
  .package-style a:hover {
    text-decoration: underline; }
  .package-style a:visited {
    text-decoration: none;
    color: #406a80; }
  .package-style a:active {
    text-decoration: none;
    color: #406a80; }

.package-cover {
  margin-top: 50px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%; }

.package-picture {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 250px; }

.package-footer-style {
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #b3b3b3;
  height: 40px;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35); }

.text-overflow {
  white-space: nowrap;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis; }

/*
* home.scss
*/
.center-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; }

.center-picture {
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
  overflow: hidden; }

.center-normal-picture {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px; }

.center-picture-slider {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 392px; }

.about-service-style {
  background-color: rgba(0, 0, 0, 0.65);
  margin-top: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 250px; }

.crop-image {
  height: auto;
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.recommend-package-style {
  background-color: rgba(0, 0, 0, 0.65);
  padding-bottom: 5%;
  height: 400px;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
  color: white; }

.recommend-package-cover {
  margin-top: 50px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%; }

.recommend-package-footer-style {
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #b3b3b3;
  height: 40px;
  box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35); }

.readmore-button-style {
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border-color: white; }

.ourteam-style {
  margin-top: 2%;
  text-align: center; }

.thumb {
  overflow: hidden;
  height: 250px;
  width: 250px; }

@media (min-width: 767px) {
  .about-service-boder {
    border-right: 1px solid; }
  .ourteam-border {
    border-right: 1px solid;
    border-left: 1px solid; } }

body {
  font-family: 'Nunito', sans-serif; }

.rotate-180deg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

a:link {
  text-decoration: none;
  color: #406a80; }

a:hover {
  color: yellow;
  text-decoration: none; }

a:visited {
  text-decoration: none;
  color: #406a80; }

a:active {
  text-decoration: none;
  color: #406a80; }

.text-padding {
  padding-left: 5%;
  padding-right: 5%; }
