<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<!-- Package Image -->
		<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0px; padding-right:0px;">
			<img class="center-picture package-detail-picture" src=api/images/{{packageItem.image}}></img>
		</div>

		<!-- Package Header -->
		<div class="col-xs-12 col-sm-12 col-md-12 package-header-box">
			<div class="container">
				<div class="col-xs-12 col-sm-7 col-md-7">
					<!-- Package Name -->
					<div class="col-xs-12 col-sm-7 col-md-7 package-detail-header-overflow"> 
						<p class="package-name-style">{{packageItem.name}}</p>
					</div>
					<!-- Rating -->
					<div class="col-xs-12 col-sm-5 col-md-5 package-rating-style" style="padding-top:5px; padding-bottom:5px;">
						<div class="col-xs-12 col-sm-12 col-md-12" style="" ng-app="" ng-init="nstar = 0" >
							<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getStar(packageItem.rating) track by $index" src="../image/star_rated.png">
							<img style="width:15px;height:15px;margin-left: 3px;" ng-if="((packageItem.rating)/2)%1 >= 0.5" src="../image/star_rated_half.png">
							<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getWhite(packageItem.rating) track by $index" src="../image/star_unrated.png">
						</div>
					</div>					
					<!-- Location -->
					<div class="col-xs-12 col-sm-12 col-md-12 package-location-style">
						<div class="col-xs-12 col-sm-7 col-md-7">
							<!-- Provider name -->
							<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
								<p class="package-detail-subdetail-topic-style"> Vendor : 
									<font class="package-detail-detail-style">vendor name</font>
								</p>
							</div>
							<!-- Province -->
							<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
								<p class="package-detail-subdetail-topic-style"> Province : 
									<font class="package-detail-detail-style">{{packageItem.map_id.map_id.location.province}}</font>
								</p>
							</div>
							<!-- Location -->
							<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
								<p class="package-detail-subdetail-topic-style"> Location :
									<font class="package-detail-detail-style">{{packageItem.map_id.map_id.location.place}}</font>
								</p>
							</div>							
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 package-group-tag-style">
							<!-- Tag -->
							<div class="col-xs-6 col-ms-6 col-md-6" style="padding-left:0px; padding-right:0px;">
								<img style="width:40px; height:40px;" src="../image/rafting.png">
							</div>							
							<!-- Age Limit -->
							<div class="col-xs-6 col-ms-6 col-md-6" style="padding-left:0px; padding-right:0px;">
								{{packageItem.map_id.map_id.age_limit}}
								<img style="width:40px; height:40px;" src="../image/age.png">
							</div>
						</div>
					</div>	
				</div>
				<!-- "Bookmark" and "Add to Cart" button -->
				<div class="col-xs-12 col-sm-5 col-md-5" style="text-align:center;">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<button type="button" class="btn package-button-style" style="background-color:#fb5858; color:white;">BookMark</button>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<button type="button" class="btn package-button-style" style="background-color:#5cb85c; color:white;">Add to Cart</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Package Details -->
		<div class="container-fluid" style="margin-bottom:30px; background-color: rgba(0,0,0,0.85);">
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12 package-detail-box">
					<div class="col-xs-12 col-sm-1 col-md-1">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-title-style">About Package</p>
						</div>

						<!-- Package Description -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-detail-style">{{packageItem.description}} </p>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Level, Distance, Width, Depth -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">River</p>
							</div>
							<div class="col-xs-6 col-sm-5 col-md-5">
								<p class="package-detail-detail-style"> 
									<font class="package-detail-subdetail-topic-style">Width : </font>
									{{packageItem.map_id.map_id.river_width}} m
								</p>
								<p class="package-detail-detail-style"> 
									<font class="package-detail-subdetail-topic-style">Depth : </font>
									{{packageItem.map_id.map_id.river_depth}} m
								</p>							
							</div>
							<div class="col-xs-6 col-sm-5 col-md-5">
								<p class="package-detail-detail-style">
									<font class="package-detail-subdetail-topic-style">Level :</font>  
									{{packageItem.map_id.map_id.level}}
								</p>							
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Amount, Type, StartPoint, EndPoint -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Stage</p>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-5">
								<p class="package-detail-detail-style">
									<font class="package-detail-subdetail-topic-style"> Start Point : </font>
									{{packageItem.map_id.map_id.start_location}}
								</p>
								<p class="package-detail-detail-style">
									<font class="package-detail-subdetail-topic-style"> End Point : </font>
									{{packageItem.map_id.map_id.end_location}} 
								</p>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-5">
								
								<div class="col-xs-2 col-sm-3 col-md-2" style="padding-left:0px; padding-right:0px;">	
									<p class="package-detail-detail-style">
										<font class="package-detail-subdetail-topic-style"> Type :  </font>					
									</p>
								</div>
								<div class="col-xs-10 col-sm-9 col-md-10" style="padding-left:0px; padding-right:0px;">	
									<p class="package-detail-detail-style">								
										<font ng-repeat="stageType in stageTypes">
											{{stageType}}<br>
										</font>
									</p>
								</div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Price Rate -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Price Rate</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 package-detail-table-cover">
								<!-- Table Header -->
								<div class="package-detail-table-cover">
							        <div class="col-xs-2 col-sm-2 col-md-2">
							        	<p class="package-detail-table-header">Price (฿)</p>
							        </div>
							        <div class="col-xs-2 col-sm-2 col-md-2">
							        	<p class="package-detail-table-header">People</p>
							        </div>
							        <div class="col-xs-2 col-sm-2 col-md-2">
							        	<p class="package-detail-table-header">Distance (km)</p>
							        </div>
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="package-detail-table-header">Duration (hr)</p>
							        </div>
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="package-detail-table-header">Boat</p>
							        </div>
							        <HR WIDTH="100%" NOSHADE>
							    </div>
							    <!-- Table Detail -->
							    <div class="package-detail-table-cover" ng-repeat="packageInfo in packageInfos">
							    	<div class="col-xs-2 col-sm-2 col-md-2">
					                    <p class="package-create-table-header">{{packageInfo.price}}</p>
					                </div>
					                <div class="col-xs-2 col-sm-2 col-md-2">
					                    <p class="package-create-table-header">{{packageInfo.people}}</p>
					                </div>
					                <div class="col-xs-2 col-sm-2 col-md-2">
					                    <p class="package-create-table-header">{{packageInfo.distance}}</p>
				                    </div>
					                <div class="col-xs-3 col-sm-3 col-md-3">
					                    <p class="package-create-table-header">{{packageInfo.duration}}</p>
					                </div>
					                <div class="col-xs-3 col-sm-3 col-md-3">
					                    <p class="package-create-table-header">{{packageInfo.boat_type}}</p>
				                    </div>
							    </div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Sub Details -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style" style="">More Details</p>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<!-- Provide Things -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Provide Things </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="equipmentProvide in equipmentProvides">• {{equipmentProvide}}</p>
								</div>
								<!-- Require Things -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Require Things </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="equipmentRequire in equipmentRequires" >• {{equipmentRequire}}</p>
								</div>

								<!-- Skill Require -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Skill Required </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="skillRequire in skillRequires">• {{skillRequire}}</p>
								</div>

								<!-- Include Activity -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Include Activity </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="activity in activities">• {{activity}}</p>
								</div>							
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Schedule -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Schedule</p>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<p class="package-detail-detail-style">Schedule</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<!-- Comment and Rating -->
		<div class="container-fluid" style="margin-bottom:30px;">	
			<div class="container">		
				<div class="col-xs-12 col-sm-1 col-md-1">
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-title-style">Comment and Rating</p>
					</div>
					<!-- Comments -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">Comments</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10">
								<textarea ng-model="txtcomment" placeholder="Your Comment" style="width:100%; color:black;"></textarea>
						</div>
					</div>

					<!-- Rate -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">Rate</p>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-6 btn-group filter-dropdownbtn-style">
							<button type="button" class="btn btn-default" style="width:90%; padding-left:0px" ng-bind="selectedRate"> Rate </button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">		<li ng-repeat="voteRating in voteRatings" ng-click="setRate(voteRating.rating)"><a href="#">{{voteRating.rating}}</a></li>
							</ul>
						</div>												
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px; text-align:center;">
						<button class="btn btn-primary"ng-click="btn_add()" style="margin-top:10px; margin-bottom:10px;">Post</button>
					</div>

					<HR WIDTH="100%" style="border: 1px solid #787878;">

					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-title-style" style="color:#fb5858;">Comments</p>
					</div>

					<!-- Package Comments -->
					<!-- ng-repeat="comment in comments" -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="col-xs-12 col-sm-2 col-md-2" style="text-align:center" >
							<img class="package-detail-comment-profile-image" src="../image/ourTeam-oat.png"></img>
							<p class="package-detail-comment-header">User Name</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 package-detail-comment-cover">
							<p class="package-detail-comment-detail">Comment</p>
							<p class="package-detail-comment-date" style="padding-top:10px;">DD/MM/YY</p>								
						</div>
						<HR WIDTH="100%" NOSHADE>				
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="col-xs-12 col-sm-2 col-md-2" style="text-align:center" >
							<img class="package-detail-comment-profile-image" src="../image/ourTeam-oat.png"></img>
							<p class="package-detail-comment-header">User Name</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 package-detail-comment-cover">
							<p class="package-detail-comment-detail">Comment Comment Comment Comment Comment Comment Comment Comment Comment Comment</p>
							<p class="package-detail-comment-date" style="padding-top:10px;">DD/MM/YY</p>								
						</div>
						<HR WIDTH="100%" NOSHADE>				
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="col-xs-12 col-sm-2 col-md-2" style="text-align:center" >
							<img class="package-detail-comment-profile-image" src="../image/ourTeam-oat.png"></img>
							<p class="package-detail-comment-header">User Name</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 package-detail-comment-cover">
							<p class="package-detail-comment-detail">Comment</p>
							<p class="package-detail-comment-date" style="padding-top:10px;">DD/MM/YY</p>								
						</div>
						<HR WIDTH="100%" NOSHADE>				
					</div>
				</div>
			</div>
		</div>
	</body>
</html>