<!-- </br></br></br><upload-image></upload-image>
<img src="/api/images/56a0af5740e954941845e476"></img> -->
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!-- <h1 style="color:black; margin-top:70px">kkkkdfbnnbfklbnkldnfklbdnl</h1> -->
		<!-- Package Details -->
		<div class="container" style=" margin-top:100px">
			<h1>Create package</h1> 
			Name : <input type="text" ng-model="packageItem.name" required>
			<div>
				<div class="col-xs-12 col-sm-4 col-md-4 topic-style">
					Contact : 
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 detail-style">
					<div>
						Tol : <input type="text" ng-model="packageItem.contact.phone_number">
					</div>
					<div>
						Email : <input type="text" ng-model="packageItem.contact.email">
					</div>
				</div>
			</div>
			<HR WIDTH="100%" NOSHADE>

			<div>
				<div class="col-xs-12 col-sm-4 col-md-4 topic-style">
					Price : 
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 detail-style">
					<input type="text" ng-model="packageItem.price">฿
				</div>
			</div>
			<HR WIDTH="100%" NOSHADE>

			<div>
				<div class="col-xs-12 col-sm-4 col-md-4 topic-style">
					Description : 
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 detail-style">
					<input type="text" ng-model="packageItem.description">
				</div>
			</div>
			<HR WIDTH="100%" NOSHADE>

			<div>
				<div class="col-xs-12 col-sm-4 col-md-4 topic-style">
					People per Package : 
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 detail-style">
					<input type="text" ng-model="packageItem.people"> people
				</div>
			</div>
			<HR WIDTH="100%" NOSHADE>

			<div>
				<div class="col-xs-12 col-sm-4 col-md-4 topic-style">
					Office Time : 
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 detail-style">
					<input type="text" ng-model="packageItem.office_time.open_time"> - <input type="text" ng-model="packageItem.office_time.close_time">
				</div>
			</div>
			<HR WIDTH="100%" NOSHADE>
			
			<div>
				<div class="col-xs-12 col-sm-4 col-md-4 topic-style">
					Availability : 
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 detail-style" style="color:green;">
					<select class="form-control" ng-model="packageItem.availability">
		                <option value="false">in-active</option>
		                <option value="true">Active</option>
		            </select>
				</div>
			</div>
			<!-- Bookmark and Add to Cart button -->
			<div class="col-md-12" style="text-align:center; padding-top:5%; padding-bottom:5%;">
				<div class="col-xs-12 col-sm-3 col-md-3" ></div>
				<div class="col-xs-12 col-sm-3 col-md-3">
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3" styel="right">
					<button type="button" class="btn btn-primary" ng-click="onSubmit()">Create</button>
				</div>
			</div>
		</div>
		<!-- End Package Details -->
		<div class="container">
			
		</div>


	</body>
</html>