<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<!-- Package Image -->
		<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0px; padding-right:0px;">
			<img class="center-picture package-detail-picture" src=api/images/{{packageItem.image}}></img>
		</div>

		<!-- Package Header -->
		<div class="col-xs-12 col-sm-12 col-md-12 package-header-box">
			<div class="container">
				<div class="col-xs-12 col-sm-7 col-md-7">
					<!-- Package Name -->
					<div class="col-xs-12 col-sm-7 col-md-7 package-detail-header-overflow"> 
						<p class="package-name-style">{{packageItem.name}}</p>
					</div>
					<!-- Rating -->
					<div class="col-xs-12 col-sm-5 col-md-5 package-rating-style" style="padding-top:5px; padding-bottom:5px;">
						<div class="col-xs-12 col-sm-12 col-md-12" style="" ng-app="" ng-init="nstar = 0" >
							<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getStar(packageItem.rating) track by $index" src="../image/star_rated.png">
							<img style="width:15px;height:15px;margin-left: 3px;" ng-if="packageItem.rating%1 >= 0.5" src="../image/star_rated_half.png">
							<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getWhite(packageItem.rating) track by $index" src="../image/star_unrated.png">
						</div>
					</div>					
					<!-- Location -->
					<div class="col-xs-12 col-sm-12 col-md-12 package-location-style">
						<div class="col-xs-12 col-sm-7 col-md-7 no-horizotal-padding">
							<!-- Provider name -->
							<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style no-horizotal-padding">
								<div class="col-xs-6 col-sm-6 col-md-4" style="text-align:center;">
									<img class="vendor-profile-image-top-style" src=api/images/{{packageItem.user_id.image}}></img>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<p class="package-detail-title-style" style="text-align:left;padding-top:25px;">{{packageItem.user_id.first_name}}</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p>&nbsp</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 package-group-tag-style">
							<!-- Tag -->
							<div class="col-xs-6 col-ms-6 col-md-6" style="padding-left:0px; padding-right:0px;">
								<img style="width:40px; height:40px;" src="../image/rafting.png">
							</div>							
							<!-- Age Limit -->
							<div class="col-xs-6 col-ms-6 col-md-6" style="padding-left:0px; padding-right:0px;">
								{{packageItem.map_id.map_id.age_limit}}
								<img style="width:40px; height:40px;" src="../image/age.png">
							</div>
						</div>
					</div>	
				</div>
				<!-- "Bookmark" and "Add to Cart" button -->
				<div class="col-xs-12 col-sm-5 col-md-5" style="text-align:center;">
					<div class="col-xs-12 col-sm-12 col-md-12" ng-show="imageGallery != null && imageGallery.images.length != 0">
						<input type="image" id="btn" ng-click="openGallery()" src="../image/more_pic.png" alt="Submit" width="58" height="58">
						<p style="color:white">{{imageGallery.images.length}} pics</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" ng-show="loading1">
						<button type="button" ng-show="!like" ng-click="openBookmarkModal(packageItem._id)" class="btn package-button-style" style="background-color:#fb5858; color:white;">BookMark</button>
						<button type="button" ng-show="like" class="btn package-button-style" style="background-color:white; color:#fb5858;" ng-click="unlike(packageItem)">Unbookmark</button>
					</div>
					<!-- <div class="col-xs-12 col-sm-12 col-md-12">
						<button type="button" class="btn package-button-style" style="background-color:#e1bd00; color:white;">Add to Cart</button>
					</div> -->
				</div>
			</div>
		</div>

		<!-- Package Details -->
		<div class="container-fluid" style="margin-bottom:30px; background-color: rgba(0,0,0,0.85);">
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12 package-detail-box">
					<div class="col-xs-12 col-sm-8 col-md-8">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-title-style">About Package</p>
						</div>

						<!-- Package Description -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-detail-style">{{packageItem.description}} </p>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Location -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Location</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10">										
								<ng-map center="{{packageItem.map_id.map_id.location.location_text}}" style="margin-bottom:15px;" zoom="16">
									<marker position="{{packageItem.map_id.map_id.location.lat}},{{packageItem.map_id.map_id.location.long}}"></marker>
								</ng-map>
							</div>							
						</div>
						<HR WIDTH="95%" NOSHADE>
						<!-- Level, Distance, Width, Depth -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">River</p>
							</div>
							<div class="col-xs-6 col-sm-5 col-md-5">
								<p class="package-detail-detail-style"> 
									<font class="package-detail-subdetail-topic-style">Width : </font>
									{{packageItem.map_id.map_id.river_width}} m
								</p>
								<p class="package-detail-detail-style"> 
									<font class="package-detail-subdetail-topic-style">Depth : </font>
									{{packageItem.map_id.map_id.river_depth}} m
								</p>							
							</div>
							<div class="col-xs-6 col-sm-5 col-md-5">
								<p class="package-detail-detail-style">
									<font class="package-detail-subdetail-topic-style">Level :</font>  
									{{packageItem.map_id.map_id.level}}
								</p>							
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Amount, Type, StartPoint, EndPoint -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Stage</p>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-5">
								<p class="package-detail-detail-style">
									<font class="package-detail-subdetail-topic-style"> Start Point : </font>
									{{packageItem.map_id.map_id.start_location}}
								</p>
								<p class="package-detail-detail-style">
									<font class="package-detail-subdetail-topic-style"> End Point : </font>
									{{packageItem.map_id.map_id.end_location}} 
								</p>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-5">
								
								<div class="col-xs-2 col-sm-3 col-md-2" style="padding-left:0px; padding-right:0px;">	
									<p class="package-detail-detail-style">
										<font class="package-detail-subdetail-topic-style"> Type :  </font>					
									</p>
								</div>
								<div class="col-xs-10 col-sm-9 col-md-10" style="padding-left:0px; padding-right:0px;">	
									<p class="package-detail-detail-style">								
										<font ng-repeat="stageType in stageTypes">
											{{stageType}}<br>
										</font>
									</p>
								</div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Price Rate -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Price Rate</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 package-detail-table-cover">
								<!-- Table Header -->
								<div class="package-detail-table-cover">
									<div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="package-detail-table-header">Boat</p>
							        </div>
							        <div class="col-xs-2 col-sm-2 col-md-2">
							        	<p class="package-detail-table-header">Price (฿)</p>
							        </div>
							        <div class="col-xs-2 col-sm-2 col-md-2">
							        	<p class="package-detail-table-header">People</p>
							        </div>
							        <div class="col-xs-2 col-sm-2 col-md-2">
							        	<p class="package-detail-table-header">Distance (km)</p>
							        </div>
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="package-detail-table-header">Duration (hr)</p>
							        </div>							        
							        <HR WIDTH="100%" NOSHADE>
							    </div>
							    <!-- Table Detail -->
							    <div class="package-detail-table-cover" ng-repeat="packageInfo in packageInfos">
							    	<div class="col-xs-3 col-sm-3 col-md-3">
					                    <p class="package-create-table-header">{{packageInfo.boat_type}}</p>
				                    </div>
							    	<div class="col-xs-2 col-sm-2 col-md-2">
					                    <p class="package-create-table-header">{{packageInfo.price}}</p>
					                </div>
					                <div class="col-xs-2 col-sm-2 col-md-2">
					                    <p class="package-create-table-header">{{packageInfo.people}}</p>
					                </div>
					                <div class="col-xs-2 col-sm-2 col-md-2">
					                    <p class="package-create-table-header">{{packageInfo.distance}}</p>
				                    </div>
					                <div class="col-xs-3 col-sm-3 col-md-3">
					                    <p class="package-create-table-header">{{packageInfo.duration}}</p>
					                </div>					                
							    </div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Sub Details -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style" style="">More Details</p>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<!-- Provide Things -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Provide Things </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="equipmentProvide in equipmentProvides">• {{equipmentProvide}}</p>
								</div>
								<!-- Require Things -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Require Things </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="equipmentRequire in equipmentRequires" >• {{equipmentRequire}}</p>
								</div>

								<!-- Skill Require -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Skill Required </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="skillRequire in skillRequires">• {{skillRequire}}</p>
								</div>

								<!-- Include Activity -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<p class="package-detail-subdetail-topic-style"> Include Activity </p>
									<p class="package-detail-detail-style package-deatail-moredetail-detail" ng-repeat="activity in activities">• {{activity}}</p>
								</div>							
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Schedule -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-topic-group-style">Schedule</p>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-7">
								<p class="package-detail-detail-style">Schedule</p>
							</div>
						</div>						
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div id="sticky-anchor"></div>
						<div id="sticky" class="col-xs-12 col-sm-12 col-md-12 package-detail-add-package-to-cart-cover">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p class="package-detail-title-style">Add to Cart</p>
							</div>
							<HR WIDTH="95%" NOSHADE>
							<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="packageInfo in packageInfos">
								<!-- Boat Type -->
								<div class="col-xs-5 col-sm-5 col-md-5">
									<p>{{packageInfo.boat_type}}</p>
								</div>

								<!-- Price -->
								<div class="col-xs-4 col-sm-4 col-md-4">
									<p>{{packageInfo.price}}</p>
								</div>

								<!-- Amount -->
								<div class="col-xs-3 col-sm-3 col-md-3">
									<input class="add-to-cart-input-number" type="number" min="0" placeholder="0"></input>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
								<img src="../../image/add-package-to-cart.png" style="width:40px; height:40px;"></img>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Comment and Rating -->
		<div class="container-fluid" style="margin-bottom:30px;">	
			<div class="container">		
				<div class="col-xs-12 col-sm-1 col-md-1">
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<div class="col-xs-2 col-sm-2 col-md-2">
						<img class="vendor-profile-image-style" src=api/images/{{packageItem.user_id.image}}></img>
					</div>
					<!-- about vendor -->
					<div class="col-xs-10 col-sm-10 col-md-10">
						<div class="col-md-12">
							<p class="package-detail-title-style" style="text-align:left;">About the Vendor, {{packageItem.user_id.first_name}}</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="package-detail-topic-group-style" style="text-align:left;">Tourist Business license no. </p>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="package-detail-topic-group-style" ng-show="packageItem.user_id.provider_num != null" style="text-align:left;">{{packageItem.user_id.provider_num}}</p>
								<p class="package-detail-topic-group-style" ng-show="packageItem.user_id.provider_num == null" style="text-align:left;"> - </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="package-detail-topic-group-style" style="text-align:left;">Member since </p>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="package-detail-topic-group-style" style="text-align:left;" ng-bind="getCommonDate(packageItem.user_id.updated_at)"></p>
							</div>
						</div>
					</div>					
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>&nbsp</p>
						<hr>
					</div>
					<!-- start comment -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-title-style">Comment and Rating</p>
					</div>
					<!-- Comments -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">Comments</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10">
								<textarea ng-model="comment.text" placeholder="Your Comment" style="width:100%; color:black;"></textarea>
						</div>
					</div>

					<!-- Rate -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">Rate This</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 btn-group filter-dropdownbtn-style">
							<input id="input-id" type="number" class="rating" data-show-clear="false" data-show-caption="true">
							</ul>
						</div>												
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px; text-align:center;">
						<button class="btn btn-primary"ng-click="postComment()" style="margin-top:10px; margin-bottom:10px;">Post</button>
					</div>

					<HR WIDTH="100%" style="border: 1px solid #787878;">

					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-title-style" style="color:#fb5858;" ng-show="comments.length != 0">Comments</p>
						<p class="package-detail-title-style" style="color:red;" ng-show="comments.length == 0">No Comments</p>
					</div>

					<!-- Package Comments -->					
					<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="comment in comments.slice().reverse()">
						<div class="col-xs-12 col-sm-2 col-md-2" style="text-align:center" >
							<img class="package-detail-comment-profile-image" ng-src="api/images/{{comment.user_id.image}}"></img>
							<p class="package-detail-comment-header">{{comment.user_id.first_name}}</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 package-detail-comment-cover">
							<p class="package-detail-comment-detail">{{comment.text}}</p>
							<p class="package-detail-comment-date" style="padding-top:10px;" ng-bind="getCommonDate(comment.updated_at)"></p>								
						</div>
						<HR WIDTH="100%" NOSHADE>				
					</div>
				</div>
			</div>
		</div>
		<shop-cart></shop-cart>
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
	</body>
</html>