<!-- <html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body> -->
		<!-- Package Image -->
		<!-- <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0px; padding-right:0px;">
			<img class="center-picture package-detail-picture" src=api/images/{{packageItem.image}}></img>
		</div> -->

		<!-- Package Header -->
		<!-- <div class="col-xs-12 col-sm-12 col-md-12 package-header-box">
			<div class="container">
				<div class="col-xs-12 col-sm-7 col-md-7"> -->
					<!-- Vendor -->
					<!-- <div class="col-xs-12 col-sm-4 col-md-3">
						<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
							<img ng-show="packageItem.user_id.image" class="vendor-profile-image-style" src=api/images/{{packageItem.user_id.image}}></img>
							<img ng-show="!packageItem.user_id.image" class="vendor-profile-image-style" src={{packageItem.user_id.facebook_image}}></img>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-vendor-name">{{packageItem.user_id.first_name}}</p>
						</div>
					</div> -->
					<!-- Package General Infomation -->
					<!-- <div class="col-xs-12 col-sm-12 col-md-9">						
						<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding"> -->
							<!-- Package Name -->
							<!-- <div class="col-xs-12 col-sm-12 col-md-7 no-horizotal-padding"> 
								<p class="package-name-style">{{packageItem.name}}</p>
							</div> -->
							<!-- Rating -->
							<!-- <div class="col-xs-12 col-sm-12 col-md-5 package-rating-style" style="padding-top:5px; padding-bottom:5px;">
								<div class="col-xs-12 col-sm-12 col-md-12" style="" ng-app="" ng-init="nstar = 0" >
									<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getStar(packageItem.rating) track by $index" src="../image/star_rated.png">
									<img style="width:15px;height:15px;margin-left: 3px;" ng-if="packageItem.rating%1 >= 0.5" src="../image/star_rated_half.png">
									<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getWhite(packageItem.rating) track by $index" src="../image/star_unrated.png">
								</div>
							</div>	
						</div> -->
						<!-- Package Type -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-general-information-cover">
							<font class="package-detail-general-information-header">Package Type : </font>
							<font class="package-detail-general-information-detail">{{packageItem.map_id.map_table}}</font>
						</div> -->
						<!-- Limited age -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-general-information-cover">
							<font class="package-detail-general-information-header">Minimum Age : </font>				
							<font class="package-detail-general-information-detail" style="text-align:left;" ng-show="packageItem.map_id.map_id.age_limit == null"> - </font>
							<font class="package-detail-general-information-detail" ng-show="packageItem.map_id.map_id.age_limit != null">{{packageItem.map_id.map_id.age_limit}}</font>
						</div> -->
						<!-- Season -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-general-information-cover">
							<font class="package-detail-general-information-header">Season : </font> -->
							<!-- Range of season -->
							<!-- <font class="package-detail-general-information-detail" ng-if="packageItem.map_id.map_id.season.month1">{{packageItem.map_id.map_id.season.month1}} to {{packageItem.map_id.map_id.season.month2}}</font> -->
							<!-- Whole year -->
							<!-- <font class="package-detail-general-information-detail" ng-if="packageItem.map_id.map_id.season.year">{{packageItem.map_id.map_id.season.year}}</font>
						</div>
					</div>					
				</div> -->
				<!-- "Bookmark" and "Add to Cart" button -->
				<!-- <div class="col-xs-12 col-sm-5 col-md-5" style="text-align:center;">
					<div class="col-xs-12 col-sm-12 col-md-12" ng-show="imageGallery != null && imageGallery.images.length != 0">
						<input type="image" id="btn" ng-click="openGallery()" src="../image/more_pic.png" alt="Submit" width="58" height="58">
						<p style="color:white">{{imageGallery.images.length}} pics</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" ng-show="loading1">
						<button type="button" ng-show="!like" ng-click="openBookmarkModal(packageItem._id)" class="btn package-button-style" style="background-color:#fb5858; color:white;">BookMark</button>
						<button type="button" ng-show="like" class="btn package-button-style" style="background-color:white; color:#fb5858;" ng-click="unlike(packageItem)">Unbookmark</button>
					</div>
				</div>
			</div>
		</div> -->

		<!-- Package Details -->
		<!-- <div class="container-fluid" style="margin-bottom:30px; background-color: rgba(0,0,0,0.85);">
			<div class="container"> -->
				<!-- put this somewhere in your site template -->
				<!-- <growl-notifications>
				</growl-notifications>

				<div class="col-xs-12 col-sm-12 col-md-12 package-detail-box">
					<div class="col-xs-12 col-sm-8 col-md-8">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-insight-header">About Package</p>
						</div> -->

						<!-- Package Description -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-insight-detail">{{packageItem.description}} </p>
						</div>
						<HR WIDTH="95%" NOSHADE> -->

						<!-- Location -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-insight-header">Location</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10">	
								<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
									<p class="package-detail-insight-detail">{{packageItem.map_id.map_id.location.location_text}}</p>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
									<ng-map center="{{packageItem.map_id.map_id.location.location_text}}" style="margin-bottom:15px;" zoom="16">
										<marker position="{{packageItem.map_id.map_id.location.lat}},{{packageItem.map_id.map_id.location.long}}"></marker>
									</ng-map>
								</div>
							</div>							
						</div>
						<HR WIDTH="95%" NOSHADE>
						
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">Place</p>
							</div> -->
							<!-- Rafting Place -->
							<!-- <div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding" ng-if="packageItem.map_id.map_table == 'PackageRafting'">
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Rafting Place : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.river_line}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Rafting Level : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.level}}</font>
								</div>
							</div> -->
							<!-- Diving Place -->
							<!-- <div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding" ng-if="packageItem.map_id.map_table == 'PackageDiving'">
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Diving Place : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.diving_place}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Diving Side : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.diving_side}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Sight (m) : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.sight}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Depth (m) : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.depth}}</font>
								</div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE> -->

						<!-- Stage -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">Stage</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding">
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Stage Amount : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.stages_amount}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">Stage Highlight : </font>
									<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="stage in packageItem.map_id.map_id.stages track by $index">
										<div class="col-xs-12 col-sm-5 col-md-4"> 
											<font class="package-detail-insight-detail">{{stage.name}}</font>
										</div>
										<div class="col-xs-12 col-sm-7 col-md-8"> 
											<p class="package-detail-insight-detail" style="padding-left:10px;">{{stage.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>
 -->
						<!-- Price Rate -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">Price Rate</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 package-detail-table-cover"> -->
								<!-- Table Header -->
								<!-- <table class="table" style="color:white;">
					    			<theader>
					    				<tr>
					    					<th class="package-detail-table-header" style="border-top: 0px;">Name</th>	
					    					<th class="package-detail-table-header" style="text-align:center; border-top: 0px;">Price (฿)</th>
					    					<th class="package-detail-table-header" style="text-align:center; border-top: 0px;">People</th>
					    					<th class="package-detail-table-header" style="text-align:center; border-top: 0px;">Distance (km)</th>
					    					<th class="package-detail-table-header" style="text-align:center; border-top:0px;">Duration (hr)</th>
					    					<th class="package-detail-table-header" style="border-top:0px;">Extra Info.</th>					    					
					    				</tr>
					    			</theader>
					    			<tbody>
					    				<tr ng-repeat="packageInfo in packageInfos track by $index">
					    					<td class="package-detail-table-detail">{{packageInfo.type}}</td>			
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.price}}</td>
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.people}}</td>
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.distance}}</td>
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.duration}}</td> -->
					    					<!-- If Rafting package -->
					    					<!-- <td ng-if="packageItem.map_id.map_table == 'PackageRafting'" class="package-detail-table-detail" ng-if="packageInfo.boat_type">{{packageInfo.boat_type}}</td> -->
					    					<!-- If Diving package -->
					    					<!-- <td ng-if="packageItem.map_id.map_table == 'PackageDiving'" class="package-detail-table-detail" ng-if="packageInfo.boat_type">{{packageInfo.diving_type}}</td>
					    				</tr>   				
					    			</tbody>
					    		</table>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE> -->

						<!-- Sub Details -->
						<!-- <div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">More Details</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding"> -->
								<!-- Provide Things -->
								<!-- <div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-insight-sub-header"> Provide Things </p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="equipmentProvide in equipmentProvides track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!equipmentProvide"> - </p>
											<p class="package-detail-insight-detail" ng-if="equipmentProvide">{{equipmentProvide}}</p>
										</div>
									</div>
								</div> -->
								<!-- Require Things -->
								<!-- <div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-subdetail-topic-style"> Require Things </p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="equipmentRequire in equipmentRequires track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!equipmentRequire"> - </p>					
											<p class="package-detail-insight-detail" ng-if="equipmentRequire">{{equipmentRequire}}</p>
										</div>
									</div>
								</div> -->

								<!-- Skill Require -->
								<!-- <div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-subdetail-topic-style"> Skill Required </p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="skillRequire in skillRequires track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!skillRequire"> - </p>			
											<p class="package-detail-insight-detail" ng-if="skillRequire">{{skillRequire}}</p>
										</div>
									</div>
								</div> -->

								<!-- Include Activity -->
								<!-- <div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">			
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-subdetail-topic-style"> Include Activity </p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="activity in activities track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!activity"> - </p>	
											<p class="package-detail-insight-detail" ng-if="activity">{{activity}}</p>
										</div>
									</div>
								</div>							
							</div>
						</div>					
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4" ng-show="user._id">
						<div id="sticky-anchor"></div>
						<div id="sticky" class="col-xs-12 col-sm-12 col-md-12 package-detail-add-package-to-cart-cover">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p class="package-detail-title-style">Add to Cart</p>
							</div>
							<HR WIDTH="95%" NOSHADE>
							<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="packageInfo in packageInfos track by $index"> -->
								<!-- Package Name -->
								<!-- <div class="col-xs-5 col-sm-5 col-md-5">
									<p>{{packageInfo.type}}</p>
								</div>	 -->							

								<!-- Price -->
								<!-- <div class="col-xs-4 col-sm-4 col-md-4">
									<p>{{packageInfo.price}}</p>
								</div> -->

								<!-- Amount -->
								<!-- <div class="col-xs-3 col-sm-3 col-md-3"> -->
									<!-- <input class="add-to-cart-input-number" type="number" min="0" placeholder="0"></input> -->
									<!-- <input class="add-to-cart-input-number" ng-model="packageInfo.amount" type="number" min="0" placeholder="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required></input>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;"> -->
								<!-- <img src="../../image/add-package-to-cart.png" style="width:40px; height:40px;"></img> -->
								<!-- <input style="width:40px; height:40px;" ng-click="addToCart()" type="image" src="../image/add-package-to-cart.png" ng-show="!checkNotAddCart()"></input> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- Comment and Rating -->
		<!-- <div class="container-fluid" style="padding-bottom:70px;">	
			<div class="container">		
				<div class="col-xs-12 col-sm-1 col-md-1">
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10"> -->
					<!-- About Vendor -->
					<!-- <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding"> -->
						<!-- Vendor Image -->
						<!-- <div class="col-xs-12 col-sm-4 col-md-2" style="text-align:center;">
							<img ng-show="packageItem.user_id.image" class="vendor-profile-image-style" src=api/images/{{packageItem.user_id.image}}></img>
							<img ng-show="!packageItem.user_id.image"  class="vendor-profile-image-style" src={{packageItem.user_id.facebook_image}}></img>
						</div> -->
						<!-- Vendror Description -->
						<!-- <div class="col-xs-12 col-sm-8 col-md-10">
							<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-comment-header">
								About the Vendor, {{packageItem.user_id.first_name}}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-comment-header">	
								<div class="col-xs-6 col-sm-6 col-md-5 no-horizotal-padding" style="text-align:left;">	
									<p class="package-detail-comment-sub-header">Tourist Business license no. : </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-7 no-horizotal-padding">
									<p class="package-detail-comment-sub-header" ng-show="packageItem.user_id.provider_num != null" style="text-align:left;">{{packageItem.user_id.provider_num}}</p>
									<p class="package-detail-comment-sub-header" ng-show="packageItem.user_id.provider_num == null" style="text-align:left;"> - </p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-comment-header">	
								<div class="col-xs-6 col-sm-6 col-md-5 no-horizotal-padding" style="text-align:left;">	
									<p class="package-detail-comment-sub-header">Member since : </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-7 no-horizotal-padding">
									<p class="package-detail-comment-sub-header" style="text-align:left;" ng-bind="getCommonDate(packageItem.user_id.updated_at)"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>&nbsp</p>
						<hr>
					</div> -->
					<!-- start comment -->
					<!-- <div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-comment-header">Comment and Rating</p>
					</div> -->
					<!-- Comments -->
					<!-- <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">Comments</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10">
								<textarea ng-model="comment.text" placeholder="Your Comment" style="width:100%; color:black;"></textarea>
						</div>
					</div> -->

					<!-- Rate -->
					<!-- <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">Rate This</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 btn-group filter-dropdownbtn-style">
							<input id="input-id" type="number" class="rating" data-show-clear="false" data-show-caption="true">
							</ul>
						</div>												
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px; text-align:center;">
						<button class="btn btn-primary"ng-click="postComment()" style="margin-top:10px; margin-bottom:10px;">Post</button>
					</div>

					<HR WIDTH="100%" style="border: 1px solid #787878;">

					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-comment-header" style="color:#fb5858;" ng-show="comments.length != 0">Comments</p>
						<p class="package-detail-comment-header" style="color:red;" ng-show="comments.length == 0">No Comments</p>
					</div> -->

					<!-- Package Comments -->					
					<!-- <div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="comment in comments.slice().reverse() track by $index">
						<div class="col-xs-12 col-sm-2 col-md-2" style="text-align:center" >
							<img ng-show="comment.user_id.image" class="package-detail-comment-profile-image" ng-src="api/images/{{comment.user_id.image}}"></img>
							<img ng-show="!comment.user_id.image" class="package-detail-comment-profile-image" ng-src="{{comment.user_id.facebook_image}}"></img>
							<p class="package-detail-comment-sub-header">{{comment.user_id.first_name}}</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 package-detail-comment-cover">
							<p class="package-detail-comment-detail">{{comment.text}}</p>
							<p class="package-detail-comment-date" style="padding-top:10px;" ng-bind="getCommonDate(comment.created_at)"></p>								
						</div>
						<HR WIDTH="100%" NOSHADE>				
					</div>
				</div>
			</div>
		</div>
		<shop-cart></shop-cart> -->
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
<!-- <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true"> -->

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <!-- <div class="pswp__bg"></div> -->

    <!-- Slides wrapper with overflow:hidden. -->
    <!-- <div class="pswp__scroll-wrap"> -->

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
      <!--   <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div> -->

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
       <!--  <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar"> -->

                <!--  Controls are self-explanatory. Order can be changed. -->

               <!--  <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button> -->

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <!-- <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div> -->
<!-- put this somewhere in your view -->
<!-- <growl-notification ng-if="isAddCart" on-close="closeNoti()"><strong>Successfully! </strong>added package to cart.</growl-notification>
	</body>
</html> -->
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!-- Package Image -->
		<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:0px; padding-right:0px;">
			<img class="center-picture package-detail-picture" src=api/images/{{packageItem.image}}></img>
		</div>

		<!-- Package Header -->
		<div class="col-xs-12 col-sm-12 col-md-12 package-header-box">
			<div class="container">
				<div class="col-xs-12 col-sm-7 col-md-7">
					<!-- Vendor -->
					<div class="col-xs-12 col-sm-4 col-md-3">
						<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
							<img ng-show="packageItem.user_id.image" class="vendor-profile-image-style" src=api/images/{{packageItem.user_id.image}}></img>
							<img ng-show="!packageItem.user_id.image" class="vendor-profile-image-style" src={{packageItem.user_id.facebook_image}}></img>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-vendor-name">{{packageItem.user_id.first_name}}</p>
						</div>
					</div>
					<!-- Package General Infomation -->
					<div class="col-xs-12 col-sm-12 col-md-9">						
						<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
							<!-- Package Name -->
							<div class="col-xs-12 col-sm-12 col-md-7 no-horizotal-padding"> 
								<p class="package-name-style">{{packageItem.name}}</p>
							</div>
							<!-- Rating -->
							<div class="col-xs-12 col-sm-12 col-md-5 package-rating-style" style="padding-top:5px; padding-bottom:5px;">
								<div class="col-xs-12 col-sm-12 col-md-12" style="" ng-app="" ng-init="nstar = 0" >
									<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getStar(packageItem.rating) track by $index" src="../image/star_rated.png">
									<img style="width:15px;height:15px;margin-left: 3px;" ng-if="packageItem.rating%1 >= 0.5" src="../image/star_rated_half.png">
									<img style="width:15px;height:15px;margin-left: 3px;" ng-repeat="i in getWhite(packageItem.rating) track by $index" src="../image/star_unrated.png">
								</div>
							</div>	
						</div>
						<!-- Package Type -->
						<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-general-information-cover">
							<font class="package-detail-general-information-header">ชนิดของแพ็คเกจ : </font>
							<font class="package-detail-general-information-detail" ng-if="packageItem.package_type == 'PackageRafting'">ล่องแก่ง</font>
							<font class="package-detail-general-information-detail" ng-if="packageItem.package_type == 'PackageDiving'">ดำน้ำ</font>
						</div>
						<!-- Limited age -->
						<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-general-information-cover">
							<font class="package-detail-general-information-header">อายุขั้นต่ำ : </font>				
							<font class="package-detail-general-information-detail" style="text-align:left;" ng-show="packageItem.map_id.map_id.age_limit == null"> - </font>
							<font class="package-detail-general-information-detail" ng-show="packageItem.map_id.map_id.age_limit != null">{{packageItem.map_id.map_id.age_limit}}</font>
						</div>
						<!-- Season -->
						<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-general-information-cover">
							<font class="package-detail-general-information-header">ฤดูท่องเที่ยว : </font>
							<!-- Range of season -->
							<font class="package-detail-general-information-detail" ng-if="packageItem.map_id.map_id.season.month1">{{packageItem.map_id.map_id.season.month1}} ถึง {{packageItem.map_id.map_id.season.month2}}</font>
							<!-- Whole year -->
							<font class="package-detail-general-information-detail" ng-if="packageItem.map_id.map_id.season.year">{{packageItem.map_id.map_id.season.year}}</font>
						</div>
					</div>					
				</div>
				<!-- "Bookmark" and "Add to Cart" button -->
				<div class="col-xs-12 col-sm-5 col-md-5" style="text-align:center;">
					<div class="col-xs-12 col-sm-12 col-md-12" ng-show="imageGallery != null && imageGallery.images.length != 0">
						<input type="image" id="btn" ng-click="openGallery()" src="../image/more_pic.png" alt="Submit" width="58" height="58">
						<p style="color:white">{{imageGallery.images.length}} pics</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" ng-show="loading1">
						<button type="button" ng-show="!like" ng-click="openBookmarkModal(packageItem._id)" class="btn package-button-style" style="background-color:#fb5858; color:white;">เลือกเข้ารายการโปรด</button>
						<button type="button" ng-show="like" class="btn package-button-style" style="background-color:white; color:#fb5858;" ng-click="unlike(packageItem)">ยกเลิกรายการโปรด</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Package Details -->
		<div class="container-fluid" style="margin-bottom:30px; background-color: rgba(0,0,0,0.85);">
			<div class="container">
				<!-- put this somewhere in your site template -->
				<growl-notifications>
				</growl-notifications>

				<div class="col-xs-12 col-sm-12 col-md-12 package-detail-box">
					<div class="col-xs-12 col-sm-8 col-md-8">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-insight-header">เกี่ยวกับแพ็คเกจ</p>
						</div>

						<!-- Package Description -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<p class="package-detail-insight-detail">{{packageItem.description}} </p>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Location -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
								<p class="package-detail-insight-header">ที่อยู่</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10">	
								<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
									<p class="package-detail-insight-detail">{{packageItem.map_id.map_id.location.location_text}}</p>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
									<ng-map center="{{packageItem.map_id.map_id.location.location_text}}" style="margin-bottom:15px;" zoom="16">
										<marker position="{{packageItem.map_id.map_id.location.lat}},{{packageItem.map_id.map_id.location.long}}"></marker>
									</ng-map>
								</div>
							</div>							
						</div>
						<HR WIDTH="95%" NOSHADE>
						
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">สถานที่</p>
							</div>
							<!-- Rafting Place -->
							<div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding" ng-if="packageItem.map_id.map_table == 'PackageRafting'">
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">สถานที่ล่องแก่ง : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.river_line}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">ระดับล่องแก่งสูงสุด : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.level}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
								<font class="package-detail-insight-detail">*{{levelDetail[levelNum]}}</font>
								</div>
							</div>
							<!-- Diving Place -->
							<div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding" ng-if="packageItem.map_id.map_table == 'PackageDiving'">
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">สถานที่ดำน้ำ : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.diving_place}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">ฝั่งทะเล : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.diving_side}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">ระยะการมองเห็น (ม.) : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.sight}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">ระดับความลึก (ม.) : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.depth}}</font>
								</div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Stage -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">ด่าน</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding">
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">จำนวนด่าน : </font>
									<font class="package-detail-insight-detail">{{packageItem.map_id.map_id.stages_amount}}</font>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
									<font class="package-detail-insight-sub-header">ด่านที่น่าสนใจ : </font>
									<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="stage in packageItem.map_id.map_id.stages track by $index">
										<div class="col-xs-12 col-sm-5 col-md-4"> 
											<font class="package-detail-insight-detail">{{stage.name}}</font>
										</div>
										<div class="col-xs-12 col-sm-7 col-md-8"> 
											<p class="package-detail-insight-detail" style="padding-left:10px;">{{stage.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Price Rate -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">อัตราราคา</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 package-detail-table-cover">
								<!-- Table Header -->
								<table class="table" style="color:white;">
					    			<theader>
					    				<tr>
					    					<th class="package-detail-table-header" style="border-top: 0px;">ชื่อ</th>	
					    					<th class="package-detail-table-header" style="text-align:center; border-top: 0px;">ราคา (บาท)</th>
					    					<th class="package-detail-table-header" style="text-align:center; border-top: 0px;">จำนวนคน</th>
					    					<th class="package-detail-table-header" style="text-align:center; border-top: 0px;">ระยะทาง (กม.)</th>
					    					<th class="package-detail-table-header" style="text-align:center; border-top:0px;">เวลา (ชม.)</th>
					    					<th class="package-detail-table-header" style="border-top:0px;">หมายเหตุ</th>					    					
					    				</tr>
					    			</theader>
					    			<tbody>
					    				<tr ng-repeat="packageInfo in packageInfos track by $index">
					    					<td class="package-detail-table-detail">{{packageInfo.type}}</td>			
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.price}}</td>
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.people}}</td>
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.distance}}</td>
					    					<td class="package-detail-table-detail" style="text-align:center;">{{packageInfo.duration}}</td>
					    					<!-- If Rafting package -->
					    					<td ng-if="packageItem.map_id.map_table == 'PackageRafting'" class="package-detail-table-detail" ng-if="packageInfo.boat_type">{{packageInfo.boat_type}}</td>
					    					<!-- If Diving package -->
					    					<td ng-if="packageItem.map_id.map_table == 'PackageDiving'" class="package-detail-table-detail" ng-if="packageInfo.boat_type">{{packageInfo.diving_type}}</td>
					    				</tr>   				
					    			</tbody>
					    		</table>
							</div>
						</div>
						<HR WIDTH="95%" NOSHADE>

						<!-- Sub Details -->
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="col-xs-12 col-sm-2 col-md-2 no-horizotal-padding">
								<p class="package-detail-insight-header">ข้อมูลเพิ่มเติม</p>
							</div>
							<div class="col-xs-12 col-sm-10 col-md-10 no-horizotal-padding">
								<!-- Provide Things -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-insight-sub-header">สิ่งที่เตรียมให้</p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="equipmentProvide in equipmentProvides track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!equipmentProvide"> - </p>
											<p class="package-detail-insight-detail" ng-if="equipmentProvide">{{equipmentProvide}}</p>
										</div>
									</div>
								</div>
								<!-- Require Things -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-subdetail-topic-style">สิ่งที่ต้องเตรียม</p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="equipmentRequire in equipmentRequires track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!equipmentRequire"> - </p>					
											<p class="package-detail-insight-detail" ng-if="equipmentRequire">{{equipmentRequire}}</p>
										</div>
									</div>
								</div>

								<!-- Skill Require -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-subdetail-topic-style">ทักษะพื้นฐาน</p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="skillRequire in skillRequires track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!skillRequire"> - </p>			
											<p class="package-detail-insight-detail" ng-if="skillRequire">{{skillRequire}}</p>
										</div>
									</div>
								</div>

								<!-- Include Activity -->
								<div class="col-xs-12 col-sm-12 col-md-12 package-detail-subdetail-box-style">			
									<div class="col-xs-12 col-sm-4 col-md-4 no-horizotal-padding">
										<p class="package-detail-subdetail-topic-style">กิจกรรมเพิ่มเติม</p>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 no-horizotal-padding">
										<div class="col-xs-12 col-sm-6 col-md-6 no-horizotal-padding" ng-repeat="activity in activities track by $index">
											<p class="package-detail-insight-detail" style="text-align:left;" ng-if="!activity"> - </p>	
											<p class="package-detail-insight-detail" ng-if="activity">{{activity}}</p>
										</div>
									</div>
								</div>							
							</div>
						</div>					
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4" ng-show="user._id">
						<div id="sticky-anchor"></div>
						<div id="sticky" class="col-xs-12 col-sm-12 col-md-12 package-detail-add-package-to-cart-cover">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p style="font-size:25px; color:#fb5858;">เพิ่มสินค้าในตะกร้า</p>
							</div>
							<HR WIDTH="95%" NOSHADE>
							<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="packageInfo in packageInfos track by $index">
								<!-- Package Name -->
								<div class="col-xs-5 col-sm-5 col-md-5">
									<p>{{packageInfo.type}}</p>
								</div>								

								<!-- Price -->
								<div class="col-xs-4 col-sm-4 col-md-4">
									<p>{{packageInfo.price}}</p>
								</div>

								<!-- Amount -->
								<div class="col-xs-3 col-sm-3 col-md-3">
									<!-- <input class="add-to-cart-input-number" type="number" min="0" placeholder="0"></input> -->
									<input class="add-to-cart-input-number" ng-model="packageInfo.amount" type="number" min="0" placeholder="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required></input>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;">
								<!-- <img src="../../image/add-package-to-cart.png" style="width:40px; height:40px;"></img> -->
								<input style="width:40px; height:40px;" ng-click="addToCart()" type="image" src="../image/add-package-to-cart.png" ng-show="!checkNotAddCart()"></input> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Comment and Rating -->
		<div class="container-fluid" style="padding-bottom:70px;">	
			<div class="container">		
				<div class="col-xs-12 col-sm-1 col-md-1">
				</div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<!-- About Vendor -->
					<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
						<!-- Vendor Image -->
						<div class="col-xs-12 col-sm-4 col-md-2" style="text-align:center;">
							<img ng-show="packageItem.user_id.image" class="vendor-profile-image-style" src=api/images/{{packageItem.user_id.image}}></img>
							<img ng-show="!packageItem.user_id.image"  class="vendor-profile-image-style" src={{packageItem.user_id.facebook_image}}></img>
						</div>
						<!-- Vendror Description -->
						<div class="col-xs-12 col-sm-8 col-md-10">
							<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-comment-header">
								เกี่ยวกับผู้ขาย, {{packageItem.user_id.first_name}}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-comment-header">	
								<div class="col-xs-6 col-sm-6 col-md-5 no-horizotal-padding" style="text-align:left;">	
									<p class="package-detail-comment-sub-header">เลขที่ผู้ประกอบการ : </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-7 no-horizotal-padding">
									<p class="package-detail-comment-sub-header" ng-show="packageItem.user_id.provider_num != null" style="text-align:left;">{{packageItem.user_id.provider_num}}</p>
									<p class="package-detail-comment-sub-header" ng-show="packageItem.user_id.provider_num == null" style="text-align:left;"> - </p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding package-detail-comment-header">	
								<div class="col-xs-6 col-sm-6 col-md-5 no-horizotal-padding" style="text-align:left;">	
									<p class="package-detail-comment-sub-header">เป็นสมาชิกตั้งแต่: </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-7 no-horizotal-padding">
									<p class="package-detail-comment-sub-header" style="text-align:left;" ng-bind="getCommonDate(packageItem.user_id.updated_at)"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>&nbsp</p>
						<hr>
					</div>
					<!-- start comment -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-comment-header">คอมเมนท์และเรตติ้ง</p>
					</div>
					<!-- Comments -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">คอมเมนท์</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10">
								<textarea ng-model="comment.text" placeholder="Your Comment" style="width:100%; color:black;"></textarea>
						</div>
					</div>

					<!-- Rate -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px;">
						<div class="col-xs-12 col-sm-2 col-md-2" style="padding-left:0px;">
							<p class="package-detail-topic-group-style">เรตติ้ง</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 btn-group filter-dropdownbtn-style">
							<input id="input-id" type="number" class="rating" data-show-clear="false" data-show-caption="true">
							</ul>
						</div>												
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:10px; margin-bottom:10px; text-align:center;">
						<button class="btn btn-primary"ng-click="postComment()" style="margin-top:10px; margin-bottom:10px;">โพสท์</button>
					</div>

					<HR WIDTH="100%" style="border: 1px solid #787878;">

					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="package-detail-comment-header" style="color:#fb5858;" ng-show="comments.length != 0">คอมเมนท์</p>
						<p class="package-detail-comment-header" style="color:red;" ng-show="comments.length == 0">ไม่มีคอมเมนท์</p>
					</div>

					<!-- Package Comments -->					
					<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="comment in comments.slice().reverse() track by $index">
						<div class="col-xs-12 col-sm-2 col-md-2" style="text-align:center" >
							<img ng-show="comment.user_id.image" class="package-detail-comment-profile-image" ng-src="api/images/{{comment.user_id.image}}"></img>
							<img ng-show="!comment.user_id.image" class="package-detail-comment-profile-image" ng-src="{{comment.user_id.facebook_image}}"></img>
							<p class="package-detail-comment-sub-header">{{comment.user_id.first_name}}</p>
						</div>
						<div class="col-xs-12 col-sm-10 col-md-10 package-detail-comment-cover">
							<p class="package-detail-comment-detail">{{comment.text}}</p>
							<p class="package-detail-comment-date" style="padding-top:10px;" ng-bind="getCommonDate(comment.created_at)"></p>								
						</div>
						<HR WIDTH="100%" NOSHADE>				
					</div>
				</div>
			</div>
		</div>
		<shop-cart></shop-cart>
		<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<!-- put this somewhere in your view -->
<growl-notification ng-if="isAddCart" on-close="closeNoti()"><strong>Successfully! </strong>added package to cart.</growl-notification>
	</body>
</html>