/**
 * package-detail.scss
 */

 .topic-style{
 	font-size:140%;
 	color:#a1a1a1;
 	padding-left:10%;
 }

 .detail-style{
 	font-size:150%; 
 	padding-left:22%;
 }

 .package-detail-picture{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%; 
	min-height: 200px;
	max-height: 570px;
	position: relative;
    left: 50%;
    transform: translate(-50%,0)
 }
