/**
 * package-detail.scss
 */
.package-detail-picture{
	width: 100%; 
	min-height: 400px;
	max-height: 550px;
    left: 50%;
    transform: translate(-50%,0)
}
.package-header-box{
	background-color: red;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
	// text-align: center;
}
.package-name-style{
	font-size: 22px;
	color: white;
}
.package-location-style{
	font-size: 14px;
	color: white;
}





//  .package-detail-topic-style{
//  	font-size:12px;
//  	color:white;
//  	text-align: right;
//  	padding-bottom:15px;
//  }

//  .package-detail-detail-style{
//  	font-size:12px; 
//  	color:white;
//  	padding-left:7%;
//  	padding-bottom:15px;
//  }

// .package-detail-header{
// 	font-size:40px; 
// 	color:white;
// }

// .package-detail-header-overflow{
//    overflow: hidden;
//    color:white;
//    text-overflow: ellipsis;
//    display: -webkit-box;
//    -webkit-box-orient: vertical;
//    -webkit-line-clamp: 1; /* number of lines to show */
//    line-height: 1.6;        /* fallback */
//    max-height: 1.6;       /* fallback */
// }

@media(min-width:767px){
	.package-name-style{
		font-size: 24px;
	}
	// .package-detail-topic-style{
 // 		font-size:15px;
 // 	}
	// .package-detail-detail-style{
 // 		font-size:15px; 
 // 	}
}