<div class="modal-header">
  <p class="package-modal-header">Delete Package</p>
</div>
<div class="modal-body" style="padding-bottom:0px;">    
	<p style="font-size:18px;"><font style="color:red">Confirmation :</font> Do you want to delte this package?</p>
</div>
<div class="modal-body" style="padding-bottom:15px; text-align:center; padding-top:0px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="submit" class="btn" style="background-color:#fbd300; color:white;" ng-click="deletePackage()">Yes</button>
  <button type="button" class="btn" style="background-color:#fe5a5f; color:white" ng-click="closeModal()">Cancel</button>
</div>