<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="background-image:url('../../image/main-background.png');padding-bottom:50px;">
			<!-- blank div for make vertical space -->
			<div class="container" style="margin-top:70px">
			</div>
			<!-- Compare Header -->
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p class="bookmark-header-size" style=" text-align:center;">Compare</p>
				</div>
				<div class="compare-cover-style">
					<table class="table" style="color:white;">
					    <tbody>
					    	<!-- Package Image -->
					        <tr>
					          <th> </th>
					            <td class="compare-table-header" ng-repeat="comparePackageItem in comparePackage.items"><img class="center-picture compare-image-style" style="width:320px;" ng-src=api/images/{{comparePackageItem.image}}></img></td>
					        </tr>
					        <!-- Package Name -->
					        <tr>
					          <th class="compare-table-header">Package Name</th>
					            <td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.name}}</td>
					        </tr>
					        <!-- Package Price -->
					        <tr>
					          <th class="compare-table-header">Lowest Price</th>
					            <td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.price}}</td>					            
					        </tr>
					        <!-- Package Rating -->
					        <tr>
					          <th class="compare-table-header">Rating</th>
					             <td class="compare-table-rating" ng-repeat="comparePackageItem in comparePackage.items">					             	
					             	<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getStar(comparePackageItem.rating) track by $index" src="../image/star_rated.png">
									<img style="width:20px;height:20px;margin-left: 3px;" ng-if="((comparePackageItem.rating)/2)%1 >= 0.5" src="../image/star_rated_half.png">
									<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getWhite(comparePackageItem.rating) track by $index" src="../image/star_unrated.png">
					             </td>	
					        </tr>
					        <!-- Package Type -->
					      	<tr>
					          <th class="compare-table-header">Type</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_table}}</td>
					        </tr>
					        <!-- Location -->
					        <tr>
					          <th class="compare-table-header">Location</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.location.province}}</td>
					        </tr>
					        <!-- Age Limit -->
					        <tr>
					          <th class="compare-table-header">Age Limit</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.age_limit}}</td>
					        </tr>
					        <!-- River -->
					        <tr class="compare-table-header">
					          <th>River</th>
					          	<td ng-repeat="comparePackageItem in comparePackage.items"> </td>
					        </tr>
					        <!-- River Level -->
					        <tr>
					          <th class="compare-table-subheader">Level</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.level}}</td>
					        </tr>
					        <!-- River Width-->
					        <tr>
					          <th class="compare-table-subheader">Width (m)</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.river_width}}</td>
					        </tr>
					        <!-- River Depth-->
					        <tr>
					          <th class="compare-table-subheader">Depth (m)</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.river_depth}}</td>
					        </tr>
					        <!-- Stage -->
					        <tr class="compare-table-header">
					          <th>Stage</th>
					          	<td ng-repeat="comparePackageItem in comparePackage.items"> </td>
					        </tr>
					        <!-- Stage Start Location-->
					        <tr>
					          <th class="compare-table-subheader">Start Location</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.start_location}}</td>
					        </tr>
					        <!-- Stage End Location -->
					        <tr>
					          <th class="compare-table-subheader">End Location</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items">{{comparePackageItem.map_id.map_id.end_location}}</td>
					        </tr>
					        <!-- Stage Type -->
					        <tr>
					          <th class="compare-table-subheader">Stage Type</th>
					          	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items"><p ng-repeat="stageType in comparePackageItem.map_id.map_id.stage_type">• {{stageType}}</p></td>
					        </tr>

					        <!-- More Details -->
					        <tr class="compare-table-header">
					          <th>More Details</th>
					           <td ng-repeat="comparePackageItem in comparePackage.items"> </td>
					        </tr>
					        <!-- Provide Things -->
					        <tr>
					          <th class="compare-table-subheader">Provide Things</th>
					           <td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items"><p ng-repeat="provide in comparePackageItem.map_id.map_id.equipments_provide">• {{provide}}</p></td>
					        </tr>
					        <!-- Require Things -->
					        <tr>
					          <th class="compare-table-subheader">Require Things</th>
					           <td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items"><p ng-repeat="require in comparePackageItem.map_id.map_id.equipments_require">• {{require}}</p></td>
					        </tr>
					        <!-- Skill Required -->
					        <tr>
					          <th class="compare-table-subheader">Skill Required</th>
					           	<td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items"><p ng-repeat="skill in comparePackageItem.map_id.map_id.skills_require">• {{skill}}</p></td>
					        </tr>
					        <!-- Include Activity -->
					        <tr>
					          <th class="compare-table-subheader">Include Activity</th>
					           <td class="compare-table-detail" ng-repeat="comparePackageItem in comparePackage.items"><p ng-repeat="activity in comparePackageItem.map_id.map_id.activities">• {{activity}}</p></td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>