<!-- <!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="background-image:url('../../image/main-background.png'); padding-bottom:70px;"> -->
			<!-- blank div for make vertical space -->
			<!-- <div class="container" style="margin-top:70px">			
			</div> -->
			<!-- Compare Header -->
			<!-- <div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p class="compare-header">Compare Packages</p> -->
					<!-- Filter package type button -->
					<!-- <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;padding-bottom:15px;">             
						<button class="select-package-type-button" ng-click="choose('PackageRafting')">Rafting</button>
						<button class="select-package-type-button" ng-click="choose('PackageDiving')">Diving</button>
					</div> -->
					<!-- If no search result  -->
					<!-- <center><div ng-show="!packages.length" style="padding:50px;"><h2>No Compare item.</h2></div></center>
				</div>
				<div class="compare-cover-style">
					<table class="table" style="color:white;">
					    <tbody> -->
					    	<!-- Package Image -->
					       <!-- <tr>
					         <th style="border-top: 0px;"> </th>
					           <td class="compare-table-header" style="border-top:0px; text-align:center;" ng-repeat="p in packages"><img class="center-picture compare-image-style" style="width:320px;" ng-src=api/images/{{p.image}} ></img></td>
					       </tr>	      				        -->
					        <!-- Package Name -->
					       <!-- <tr>
					         <th class="compare-table-header" ng-show="packages.length">Package Name</th>
					           <td class="compare-table-detail" ng-repeat="p in packages"><a href="/packageDetail/{{p._id}}" style="color:#404040">{{p.name}}</a></td>
					       </tr> -->
					       <!-- Package Rating -->
					       <!-- <tr>
					         <th class="compare-table-header" ng-show="packages.length">Rating</th>
				            <td class="compare-table-detail" ng-repeat="p in packages">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getStar(p.rating) track by $index" src="../image/star_rated.png">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-if="p.rating%1 >= 0.5" src="../image/star_rated_half.png">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getWhite(p.rating) track by $index" src="../image/star_unrated.png">
				            </td>
					       </tr> -->
					       <!-- Package Price -->
					       <!-- <tr>
					         <th class="compare-table-header" ng-show="packages.length">Minimum Price</th>
					           <td class="compare-table-detail" style="color:#FF3333; font-size:18px;" ng-repeat="p in packages">{{p.price}}</td>	           
					       </tr> -->	       
					       	       
					       <!-- Package Type -->
					     	<!-- <tr>
					         <th class="compare-table-header" ng-show="packages.length">Type</th>
					         	<td class="compare-table-detail" ng-repeat="p in packages">{{p.package_type}}</td>
					       </tr> -->
					       <!-- Age Limit -->
					       <!-- <tr>
					         <th class="compare-table-header" ng-show="packages.length">Age Limit</th>
					         	<td class="compare-table-detail" ng-repeat="p in packages">
					         	<p ng-show="p.map_id.map_id.age_limit != null">{{p.map_id.map_id.age_limit}}</p>
					         	<p ng-show="p.map_id.map_id.age_limit == null">-</p>
					         	</td>
					       </tr> -->
					       <!-- Place -->
					       <!-- <tr class="compare-table-header toggler" data-prod="riv" ng-click="rotateRiv()">
					         <th ng-show="packages.length"><img id="expandButtriv" src="../../image/down.png"></img> Place</th>
					         	<td ng-repeat="p in packages"> </td>
					       </tr> -->
					       <!-- River Level -->
					       <!-- <tr class="showriv" style="display:none"  ng-if="currentChoose == 'PackageRafting'" >
					        <th class="compare-table-subheader" ng-show="packages.length">Rafting Level</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.level}}</td>
					       </tr> -->
					       <!-- Rafting Place-->
					       <!-- <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageRafting'" >
					        <th class="compare-table-subheader" ng-show="packages.length">Rafting Place</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr> -->
					       <!-- Diving Place-->
					       <!-- <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">Diving Place</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr> -->
					       <!-- Diving Side -->
					       <!-- <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">Diving Side</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.level}}</td>
					       </tr> -->
					       <!-- Sight -->
					      <!--  <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">Sight (m)</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr> -->
					       <!-- Depth -->
					       <!-- <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">Depth (m)</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr> -->
					        <!-- Stage -->
					        <!-- <tr class="compare-table-header toggler" data-prod="stage"  ng-click="rotateStage()">
					          <th><img id="expandButtstage" src="../../image/down.png"></img> Stage</th>
					          	<td ng-repeat="comparePackageItem in comparePackage.items"> </td>
					        </tr> -->
					        <!-- Stage Amount-->
					        <!-- <tr class="showstage" style="display:none">
					        	<th class="compare-table-subheader">Stage Amount</th>
					          	<td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.stages_amount}}</td>
					        </tr> -->	
					        					        

					        <!-- More Details -->
					       <!--  <tr class="compare-table-header toggler" data-prod="more" ng-click="rotateMore()">
					          <th ng-show="packages.length"><img id="expandButtmore" src="../../image/down.png"></img> More Details</th>
					           <td ng-repeat="p in packages"> </td>
					        </tr> -->
					        <!-- Provide Things -->
					       <!--  <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">Provide Things</th>
					           <td class="compare-table-detail" ng-repeat="p in packages">        	
					           	<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="provide in p.map_id.map_id.equipments_provide">
					           		<p ng-show="provide != ''">{{provide}}</p>
					           		<p ng-show="provide == ''">-</p>
					           	</div>
					           </td>
					        </tr> -->
					        <!-- Require Things -->
					        <!-- <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">Require Things</th>
					           <td class="compare-table-detail" ng-repeat="p in packages">
					           	<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="require in p.map_id.map_id.equipments_require">
					           		<p ng-show="require != ''">{{require}}</p>
					           		<p ng-show="require == ''">-</p>
					           	</div>
					           </td>
					        </tr> -->
					        <!-- Skill Required -->
					        <!-- <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">Skill Required</th>
					           	<td class="compare-table-detail" ng-repeat="p in packages">
					           		<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="skill in p.map_id.map_id.skills_require">
					           			<p ng-show="skill != ''">{{skill}}</p>
					           			<p ng-show="skill == ''">-</p>
					           		</div>
					           	</td>
					        </tr> -->
					        <!-- Include Activity -->
					        <!-- <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">Include Activity</th>
					           <td class="compare-table-detail" ng-repeat="p in packages">
					           	<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="activity in p.map_id.map_id.activities">
					           		<p ng-show="activity != ''">{{activity}}</p>
					           		<p ng-show="activity == ''">-</p>
					           	</div>
					           </td>
					        </tr> -->
					        <!-- Package Chart -->
					       <!--  <tr>
					          	<th class="compare-table-header" ng-show="packages.length">Package Chart</th>
					            <td class="compare-table-detail" ng-repeat="raftingGraphData in raftingGraphDatas" style="text-align:center">
					            	<canvas ng-if="currentChoose == 'PackageRafting'"
					            		id="bar" 
				            			class="chart chart-bar"
									  	height="300"
									  	width="300"
									  	chart-data="[[raftingGraphData.age, raftingGraphData.rating, raftingGraphData.level, raftingGraphData.stage]]" chart-labels="packageChartStyle.labels" chart-colours="packageChartStyle.colors">
									</canvas>
								</td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html> -->
<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="background-image:url('../../image/main-background.png'); padding-bottom:70px;">
			<!-- blank div for make vertical space -->
			<div class="container" style="margin-top:70px">			
			</div>
			<!-- Compare Header -->
			<div class="container">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p class="compare-header">เปรียบเทียบแพ็คเกจ</p>
					<!-- Filter package type button -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center;padding-bottom:15px;">             
						<button class="select-package-type-button select-package-type-button-active" ng-click="choose('PackageRafting'); activeSelectedButton($event);">ล่องแก่ง</button>
						<button class="select-package-type-button" ng-click="choose('PackageDiving'); activeSelectedButton($event);">ดำน้ำ</button>
					</div>
					<!-- If no search result  -->
					<center><div ng-show="!packages.length" style="padding:50px;"><h2>ไม่มีรายการเปรียบเทียบ</h2></div></center>
				</div>
				<div class="compare-cover-style">
					<table class="table" style="color:white;">
					    <tbody>
					    	<!-- Package Image -->
					       <tr>
					         <th style="border-top: 0px;"> </th>
					           <td class="compare-table-header" style="border-top:0px; text-align:center;" ng-repeat="p in packages"><img class="center-picture compare-image-style" style="width:320px;" ng-src=api/images/{{p.image}} ></img></td>
					       </tr>	      				       
					        <!-- Package Name -->
					       <tr>
					         <th class="compare-table-header" ng-show="packages.length">แพ๊คเกจ</th>
					           <td class="compare-table-detail" ng-repeat="p in packages"><a href="/packageDetail/{{p._id}}" style="color:#404040">{{p.name}}</a></td>
					       </tr>
					       <!-- Package Rating -->
					       <tr>
					         <th class="compare-table-header" ng-show="packages.length">เรตติ้ง</th>
				            <td class="compare-table-detail" ng-repeat="p in packages">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getStar(p.rating) track by $index" src="../image/star_rated.png">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-if="p.rating%1 >= 0.5" src="../image/star_rated_half.png">
								<img style="width:20px;height:20px;margin-left: 3px;" ng-repeat="i in getWhite(p.rating) track by $index" src="../image/star_unrated.png">
				            </td>
					       </tr>
					       <!-- Package Price -->
					       <tr>
					         <th class="compare-table-header" ng-show="packages.length">ราคาเริ่มต้น</th>
					           <td class="compare-table-detail" style="color:#FF3333; font-size:18px;" ng-repeat="p in packages">{{p.price}}</td>	           
					       </tr>	       
					       <!-- Age Limit -->
					       <tr>
					         <th class="compare-table-header" ng-show="packages.length">อายุขั้นต่ำ</th>
					         	<td class="compare-table-detail" ng-repeat="p in packages">
					         	<p ng-show="p.map_id.map_id.age_limit != null">{{p.map_id.map_id.age_limit}}</p>
					         	<p ng-show="p.map_id.map_id.age_limit == null">-</p>
					         	</td>
					       </tr>
					       <!-- Place -->
					       <tr class="compare-table-header toggler" data-prod="riv" ng-click="rotateRiv()">
					         <th ng-show="packages.length"><img id="expandButtriv" src="../../image/down.png"></img> เกี่ยวกับสถานที่</th>
					         	<td ng-repeat="p in packages"> </td>
					       </tr>
					       <!-- Rafting Place-->
					       <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageRafting'" >
					        <th class="compare-table-subheader" ng-show="packages.length">สถานที่ล่องแก่ง</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr>
					       <!-- River Level -->
					       <tr class="showriv" style="display:none"  ng-if="currentChoose == 'PackageRafting'" >
					        <th class="compare-table-subheader" ng-show="packages.length">ระดับล่องแก่ง</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.level}}</td>
					       </tr>					       
					       <!-- Diving Place-->
					       <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">สถานที่ดำน้ำ</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr>
					       <!-- Diving Side -->
					       <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">ฝั่งทะเล</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.level}}</td>
					       </tr>
					       <!-- Sight -->
					       <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">ระยะการมองเห็น (ม.)</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr>
					       <!-- Depth -->
					       <tr class="showriv" style="display:none" ng-if="currentChoose == 'PackageDiving'">
					        <th class="compare-table-subheader" ng-show="packages.length">ระดับความลึก (ม.)</th>
					        <td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.river_line}}</td>
					       </tr>
					        <!-- Stage -->
					        <!-- <tr class="compare-table-header toggler" data-prod="stage"  ng-click="rotateStage()">
					          <th><img id="expandButtstage" src="../../image/down.png"></img> Stage</th>
					          	<td ng-repeat="comparePackageItem in comparePackage.items"> </td>
					        </tr> -->
					        <!-- Stage Amount-->
					        <tr class="showstage" style="display:none">
					        	<th class="compare-table-subheader">Stage Amount</th>
					          	<td class="compare-table-detail" ng-repeat="p in packages">{{p.map_id.map_id.stages_amount}}</td>
					        </tr>	
					        					        

					        <!-- More Details -->
					        <tr class="compare-table-header toggler" data-prod="more" ng-click="rotateMore()">
					          <th ng-show="packages.length"><img id="expandButtmore" src="../../image/down.png"></img> ข้อมูลเพิ่มเติม</th>
					           <td ng-repeat="p in packages"> </td>
					        </tr>
					        <!-- Provide Things -->
					        <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">สิ่งที่เตรียมให้</th>
					           <td class="compare-table-detail" ng-repeat="p in packages">        	
					           	<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="provide in p.map_id.map_id.equipments_provide">
					           		<p ng-show="provide != ''">{{provide}}</p>
					           		<p ng-show="provide == ''">-</p>
					           	</div>
					           </td>
					        </tr>
					        <!-- Require Things -->
					        <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">สิ่งที่ต้องเตรียม</th>
					           <td class="compare-table-detail" ng-repeat="p in packages">
					           	<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="require in p.map_id.map_id.equipments_require">
					           		<p ng-show="require != ''">{{require}}</p>
					           		<p ng-show="require == ''">-</p>
					           	</div>
					           </td>
					        </tr>
					        <!-- Skill Required -->
					        <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">ทักษะพื้นฐาน</th>
					           	<td class="compare-table-detail" ng-repeat="p in packages">
					           		<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="skill in p.map_id.map_id.skills_require">
					           			<p ng-show="skill != ''">{{skill}}</p>
					           			<p ng-show="skill == ''">-</p>
					           		</div>
					           	</td>
					        </tr>
					        <!-- Include Activity -->
					        <tr class="showmore" style="display:none">
					          <th class="compare-table-subheader" ng-show="packages.length">กิจกรรมเพิ่มเติม</th>
					           <td class="compare-table-detail" ng-repeat="p in packages">
					           	<div class="col-xs-12 col-sm-12 col-md-12" ng-repeat="activity in p.map_id.map_id.activities">
					           		<p ng-show="activity != ''">{{activity}}</p>
					           		<p ng-show="activity == ''">-</p>
					           	</div>
					           </td>
					        </tr>
					        <!-- Package Chart -->
					        <tr>
					          	<th class="compare-table-header" ng-show="packages.length">กราฟเปรียบเทียบ</th>
					            <td class="compare-table-detail" ng-repeat="raftingGraphData in raftingGraphDatas" style="text-align:center">
					            	<canvas ng-if="currentChoose == 'PackageRafting'"
					            		id="bar" 
				            			class="chart chart-bar"
									  	height="300"
									  	width="300"
									  	chart-data="[[raftingGraphData.age, raftingGraphData.rating, raftingGraphData.level, raftingGraphData.stage]]" chart-labels="packageChartStyle.labels" chart-colours="packageChartStyle.colors">
									</canvas>
								</td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>