<div class="modal-header">
  <p class="package-modal-header">Add to Cart</p>
</div>
<div class="modal-body">    
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
      <p class="add-to-cart-package-name">PackageName<p>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-header">Price ฿</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-header">People</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <p class="add-to-cart-package-header">Amount</p>
    </div>
  </div>
  <HR WIDTH="100%" NOSHADE>
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="package in packages">
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.price}}</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.people}}</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <input class="add-to-cart-input-number" ng-model="package.amount" type="number" min="0"></input>
    </div>
  </div>


</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="submit" ng-click="addToCart()" class="btn" style="background-color:#fbd300; color:white;">Add</button>
  <button type="button" class="btn btn-default" ng-click="closeModal()">Cancle</button>
</div>
