<!-- <div class="modal-header">
  <p class="package-modal-header">Add to Cart</p>
</div>
<div class="modal-body">    
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
      <p class="add-to-cart-package-name">PackageName<p>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-header">Price ฿</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-header">People</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <p class="add-to-cart-package-header">Amount</p>
    </div>
  </div>
  <HR WIDTH="100%" NOSHADE>
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="package in packages"> -->
    <!-- package price -->
    <!-- <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.price}}</p>
    </div> -->
    <!-- suitable for people with amount -->
    <!-- <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.people}}</p>
    </div> -->
    <!-- input box for amount of buying package -->
    <!-- <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <input class="add-to-cart-input-number" ng-model="package.amount" type="number" min="0" placeholder="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required></input>
    </div>
  </div>


</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="submit" ng-click="addToCart()" class="btn" style="background-color:#e1bd00; color:white;">Add</button>
  <button type="button" class="btn btn-default" ng-click="closeModal()">Cancle</button>
</div> -->
<div class="modal-header">
  <p class="package-modal-header">เพิ่มสินค้าในตะกร้า</p>
</div>
<div class="modal-body">    
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
      <p class="add-to-cart-package-name">{{packageName}}<p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
      <p class="add-to-cart-package-header">ชนิด</p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
      <p class="add-to-cart-package-header">ราคา (บาท)</p>
    </div>
     <div class="col-xs-4 col-sm-4 col-md-4 no-horizotal-padding">
      <p class="add-to-cart-package-header">จำนวนผู้เล่น</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <p class="add-to-cart-package-header">จำนวนแพ็คเกจ</p>
    </div>
  </div>
  <HR WIDTH="100%" NOSHADE>
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="package in packages">
    <!-- package type -->
    <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.type}}</p>
    </div>
    <!-- package price -->
    <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.price}}</p>
    </div>
    <!-- suitable for people with amount -->
     <div class="col-xs-4 col-sm-4 col-md-4 no-horizotal-padding">
      <p class="add-to-cart-package-detail">{{package.people}}</p>
    </div>
    <!-- input box for amount of buying package -->
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <input class="add-to-cart-input-number" ng-model="package.amount" type="number" min="0" placeholder="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required></input>
    </div>
  </div>


</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="submit" ng-click="addToCart()" class="btn" style="background-color:#e1bd00; color:white;">เพิ่มสินค้า</button>
  <button type="button" class="btn btn-default" ng-click="closeModal()">ยกเลิก</button>
</div>

