<div class="modal-header">
  <p class="package-modal-header">Bookmarks</p>
</div>
<div class="modal-body">    
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" ng-repeat="folder in folders" ng-show='loading'>
    <div class="col-xs-9 col-sm-9 col-md-9 no-horizotal-padding">
      <p class="bookmark-list-name">{{folder.folder}}<p>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 no-horizotal-padding">
      <input class="bookmark-select-button" ng-click="bookmarkItem(folder._id)" type="image" src="../image/unselect-bookmark-list.png"></input>      
    </div>
  </div>
</div>
<div class="modal-body bookmark-body-style">    
  <HR WIDTH="100%" NOSHADE>
  <div class="col-xs-8 col-sm-9 col-md-9"><input class="bookmark-input-box" ng-model="folder_name" type="text" placeholder="Create New Bookmark List"></div>
  <div class="col-xs-4 col-sm-3 col-md-3"> <button type="submit" ng-click="createFolder()" class="btn bookmark-add-new-list-button">Create</button></div></br></br>
  <div class="alertText" ng-show="showAlert"><p>Please name your Bookmark list.</p></div>
</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
</div>
