<div class="modal-header">
  <p class="package-modal-header">Add to Cart</p>
</div>
<div class="modal-body">    
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
      <p class="add-to-cart-package-name">PackageName<p>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-header">Price ฿</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-header">People</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <p class="add-to-cart-package-header">Amount</p>
    </div>
  </div>
  <HR WIDTH="100%" NOSHADE>
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">300</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">1</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <input class="add-to-cart-input-number" type="number" min="0"></input>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">400</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">7</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <input class="add-to-cart-input-number" type="number" min="0"></input>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
    <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">500</p>
    </div>
     <div class="col-xs-5 col-sm-5 col-md-5 no-horizotal-padding">
      <p class="add-to-cart-package-detail">10</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 no-horizotal-padding">
      <input class="add-to-cart-input-number" type="number" min="0"></input>
    </div>
  </div>


</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="submit" class="btn" style="background-color:#fbd300; color:white;">Add</button>
  <button type="button" class="btn btn-default" ng-click="hideModal()">Cancle</button>
</div>
