<!-- Rafting filter -->
<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" style="margin-top:50px;">
	<div class="col-xs-12 col-sm-12 col-md-12 sidebar-header">
		Diving Filter
	</div>
	<!-- filter location -->
	<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
		<div class="col-xs-12 col-sm-12 col-md-12 filter-header">
			Province
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 btn-group">
			<button type="button" class="btn btn-default" style="width:89.8%; padding-left:0px" ng-bind='selectedProvince'></button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
			    <li ng-repeat="p in provinces" ng-name="p.name" ng-model="p.name" ng-click="setProvince(p.name)"><a href="#">{{p.name}}</a></li>
			</ul>
		</div>
	</div>
	<!-- filter rating -->
	<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
		<div class="col-xs-12 col-sm-12 col-md-12 filter-header">		 
			Minimum Rating
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 btn-group">
			<button type="button" class="btn btn-default" style="width:90%; padding-left:0px" ng-bind='selectedMinRate'>Raftnig Level </button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
			    <li ng-repeat="rate in minRate" ng-click="setMinRate(rate.rating)"><a href="#">{{rate.rating}}</a></li>
			</ul>
		</div>
	</div>
	<!-- filter diving type -->
	<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
		<div class="col-xs-12 col-sm-12 col-md-12 filter-header">
			Diving Type
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 btn-group">
			<button type="button" class="btn btn-default" style="width:90%; padding-left:0px" ng-bind='selectedDivingType'></button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
			    <li ng-repeat="type in divingTypes" ng-click="setDivingType(type.type)"><a href="#">{{type.type}}</a></li>
			</ul>
		</div>
	</div>
	<!-- filter diving side -->
	<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
		<div class="col-xs-12 col-sm-12 col-md-12 filter-header">
			Diving Side
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 btn-group">
			<button type="button" class="btn btn-default" style="width:90%; padding-left:0px" ng-bind='selectedDivingSide'></button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
			    <li ng-repeat="side in divingSides" ng-click="setDivingSide(side.side)"><a href="#">{{side.side}}</a></li>
			</ul>
		</div>
	</div>
	<!-- filter price -->
	<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding">
		<div class="col-xs-12 col-sm-12 col-md-12 filter-header">		 
			Price Rate	
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 no-horizotal-padding" style="text-align:left;">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="col-xs-4 col-sm-4 col-md-4 no-horizotal-padding">
					min
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 no-horizotal-padding">
					<input ng-model="price.min" type="number" placeholder="0" min="0" class="filter-inputbox" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width:100px;"></input>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="col-xs-4 col-sm-4 col-md-4 no-horizotal-padding">
					max
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 no-horizotal-padding">
					<input ng-model="price.max"  type="number" placeholder="10000" min="0" class="filter-inputbox" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width:100px;"></input>
				</div>
			</div>
		</div>	
	</div>
	<!-- filter button -->
	<div class="col-xs-12 col-sm-12 col-md-12" style="margin-top:30px;">
		<button type="button" class="btn btn-lg filter-button" ng-click="filtering()"> Filter </button>
	</div>
</div>