<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid no-horizotal-padding" style="background-color:rgba(0,0,0,0.85);">		
			<!-- Side menu-bar -->
			<div class="col-xs-12 col-sm-12 col-md-3 side-menu-bar-cover">			
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p style="font-size:30px;">Navigate</p>
					</div>
					<a href="/amc/main">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						Main Dashboard
					</div>
					</a>
					<a href="/amc/user">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						User Management
					</div>
					</a>
					<a href="/amc/package">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						Package Management
					</div>
					</a>
					<a href="/amc/other">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						Others
					</div>
					</a>
			</div>

			<!-- AMC user page -->
			<div class="col-xs-12 col-sm-12 col-md-9" style="padding-top: 15px; padding-bottom: 15px;  padding-left: 15px;padding-right: 15px; min-height: 620px; background-color:lightgrey;">
				<div class="container-fluid" style="margin: 30px;">
					<h1>User Management</h1>
					<div class="container-fluid" style="margin: 30px">
						<div class="package-detail-table-cover">
									<div class="col-xs-5 col-sm-5 col-md-5">
							        	<p class="">Email</p>
							        </div>	
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="">Role</p>
							        </div>	        
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="">Created</p>
							        </div>
							        <div class="col-xs-1 col-sm-1 col-md-1">
							        	<p class="">Remove</p>
							        </div>
							        <HR WIDTH="100%" NOSHADE>
							    </div>
							    <!-- Table Detail -->
							    <div class="package-detail-table-cover" ng-repeat="user in users track by $index">
							    	<div class="col-xs-5 col-sm-5 col-md-5">
							        	<p class="">{{user.email}}</p>
							        </div>	
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="">{{user.role}}</p>
							        </div>	        
							        <div class="col-xs-3 col-sm-3 col-md-3">
							        	<p class="">{{user.created_at}}</p>
							        </div>
							        <div class="col-xs-1 col-sm-1 col-md-1">
							        	<button type="warning" ng-click="removeUser(user)">X</button>
							        </div>			                
							    </div>
							    <uib-pagination style="float:right;" total-items="totalItems" items-per-page="limit" ng-change="pageChanged(currentPage)" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>
							</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>