/*
*footer.scss
*/
.footer {
    background-color:#d4d9db;
    padding-top: 10px;
    // overflow: hidden;
}
.inner-footer {
    color: #406a80;
}
.footer-choice {
    font-size: 25px;
    font-style: bold;
}
