<div class="modal-header">
  <p class="package-modal-header">Calendar Check</p>
</div>
<div class="modal-body" style="height: 360px;width: 400px; margin: 0 auto;">    
  <div datepicker date-format="MM-dd-yyyy" date-year-title="selected title" style="visibility:visible;">
	<input class="signup-inputbox-style input-width" ng-model="time_date" type="text"/>
 </div>
</div>
<div class="modal-body bookmark-body-style" style="padding-bottom:15px;">
  <HR WIDTH="100%" NOSHADE>
  <button type="submit" ng-click="confirm()" class="btn" style="background-color:#e1bd00; color:white;">Confirm</button>
  <button type="button" class="btn btn-default" ng-click="closeModal()">Cancle</button>
</div>