.package-type-button{
	background-color: rgba(0, 0, 0, 0.45); 
	font-size:16px; 
	padding-top:10px; 
	padding-bottom:10px; 
	border:1px solid rgba(251, 211, 0, 0.85);
}
.package-type-button-active{
	background-color: rgba(251, 211, 0, 0.85); 
}