<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid no-horizotal-padding" style="background-color:rgba(0,0,0,0.85);">		
			<!-- Side menu-bar -->
			<div class="col-xs-12 col-sm-12 col-md-3 side-menu-bar-cover">			
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p style="font-size:30px;">Navigate</p>
					</div>
					<a href="/amc/main">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						Main Dashboard
					</div>
					</a>
					<a href="/amc/user">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						User Management
					</div>
					</a>
					<a href="/amc/package">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						Package Management
					</div>
					</a>
					<a href="/amc/other">
					<div class="col-xs-12 col-sm-12 col-md-12 bookmark-folder-button bookmark-folder-button-active">
						Others
					</div>
					</a>
			</div>

			<!-- AMC main page -->
			<div class="col-xs-12 col-sm-12 col-md-9" style="padding-top: 15px; padding-bottom: 15px;  padding-left: 15px;padding-right: 15px; min-height: 620px; background-color:lightgrey;">
			<div class="container-fluid" style="margin: 30px;">
				<h1>Main Dashboard</h1>
			</div>
			</div>
		</div>
	</body>
</html>