<!-- </br></br></br><upload-image></upload-image>
<img src="/api/images/56a0af5740e954941845e476"></img> -->
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="color:white;background-image:url('../../image/create-package-background.png'); height:700px;">
			<div class="container">		
				<!-- blank div for make vertical space -->
				<div class="container" style="margin-top:70px">
				</div>
				<!-- Create Package Header -->
				<div class="container">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="create-package-header-size" style=" text-align:center;">Package Type</p>
					</div>
					<!-- Pavkage Type -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center; margin-top:50px; margin-bottom:50px;">
						<!-- Rafting Package Button -->
						<div class="col-xs-12 col-sm-4 col-md-4 create-button-cover">
							<a href="/package/create/rafting">
								<div class="col-xs-12 col-sm-12 col-md-12 create-button-style">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<img style="width:200px; height:200px;" src="../image/rafting.png">
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 create-button-text">
										Rafting Package
									</div>
								</div>
							</a>
						</div>
						<!-- Diving Package Button -->
						<div class="col-xs-12 col-sm-4 col-md-4 create-button-cover">
							<a href="/package/create/diving">
								<div class="col-xs-12 col-sm-12 col-md-12 create-button-style">
									<div class="col-xs-12 col-sm-12 col-md-12">
										<img style="width:200px; height:200px;" src="../image/diving.png">
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 create-button-text">
										Diving Package
									</div>
								</div>
							</a>
						</div>

					<!-- 	<div class="col-xs-12 col-sm-4 col-md-4">
							<a href="/package/create/diving"><button type="button" class="btn center-picture package-create-type-button-style">Diving</button></a>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<a href="/package/create/trailRun"><button type="button" class="btn center-picture package-create-type-button-style">Trail Running</button></a>
						</div> -->
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>