/**
 * package-create.scss
 */

 .topic-style{
 	font-size:140%;
 	color:#a1a1a1;
 	padding-left:10%;
 }

 .input-style{
 	font-size:150%; 
 	padding-left:22%;
 	margin-bottom:3%;
 }

 .create-package-header-size{
	font-size: 37px;
 }

 .create-package-tab-style{
 	height:40px; 
 	font-size:15px; 
 	color:white;
 }

 .package-create-tab-style{
 	background-color:rgba(100,100,100,0.65); 
 	padding-right: 0px;
 	margin-right: 0px;
 	border-right-width: 0px;
 }
.package-create-pane-style{
	background-color:rgba(0,0,0,0.65);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color:white;
}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
}

.package-create-inputbox-style{
	margin-top:15px; 
	margin-bottom:15px; 
	width: 85%;
	height:27px; 
	font-size:14px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	padding-left: 15px;
	color: black;
}


 @media(min-width:767px){
	.create-package-header-size{
		font-size: 50px;
	}
	.create-package-tab-style{
 	height:55px; 
 	font-size:20px; 
	}
	 .package-create-inputbox-style{
		height:35px; 
		font-size:17px;
	}
}