<!-- </br></br></br><upload-image></upload-image>
<img src="/api/images/56a0af5740e954941845e476"></img> -->
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
			<div class="container" style="width:100%; color:white">
			<a href="/package/create/diving"> - Diving</a></br>
			<a href="/package/create/rafting"> - Rafting</a></br>
			<a href="/package/create/trailRun"> - Trail running</a></br>
		</div>
	</body>
</html>