/**
 * package-create.scss
 */
 
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
 	background-color:rgba(0,0,0,0.65);
}

.create-package-header-size{
	font-size: 32px;
}

.list-group-item-heading{
 	font-size: 20px;
}

.list-group-item-text{
 	font-size: 15px;
}

.fillform-cover-style{
	background-color: rgba(0,0,0,0.65);
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.fillform-content-header{
 	font-size: 25px;
}
.fillform-content-sub-header{
 	font-size: 20px;
}

.fillform-content-style{
	padding: 19px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	color: white;
	margin-bottom: 1px;
}
.package-create-input-cover{
	margin-top: 15px;
}
.package-create-dropdown-cover-style{
	margin-bottom:15px; 
}

.package-create-dropdown-input-style{
	color:grey;
	height:27px; 
	font-size:14px;
	width:85%;
	text-align:left;
}

.package-create-dropdown-button-style{
	height:27px; 
	font-size:14px;
	width:15%;
}

.package-create-dropdown-list-style{
	font-size:14px;
	width:80%;
	margin-left: 17px;
}
.package-create-bullet-group-style{
	margin-top: 5px;
}
.package-create-inputbox-style{
	margin-bottom:15px; 
	width: 100%;
	height:27px; 
	font-size:14px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	padding-left: 15px;
	color: black;
}
.package-create-add-delete-button-style{
	width:20%;
	height:27px;
}

.package-create-officetime-style{
	margin-top:15px; 
	margin-bottom:15px; 
	width: 45%;
	height:27px; 
	font-size:14px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	padding-left: 15px;
	color: black;
}

.package-create-topic-style{
	font-size: 14px;
	margin-top: 5px;
}
.package-create-season-select{
	color:grey;
	height:27px; 
	font-size:14px;
	width:120px;
	text-align:left;
}

.package-create-season-button{
	height:27px; 
	font-size:14px;
	width:30px;
}

.package-create-season-list{
	font-size:14px;
	width: 100px;
	margin-left: 17px;
}
.package-create-type-button-style{
	background-image:url('../../image/button-background.png');  
	margin-top:20px; 
	height:50px; 
	width:70%;
	font-size: 17px;
	color:white;
}
.package-create-table-header{
	font-size: 10px;
}

.price-rate-cover{
	background-color:rgba(0,0,0,0.40); 
	padding-top:15px; 
	padding-bottom:15px;
	margin-bottom: 15px;
}

@media(min-width:767px){
	.create-package-header-size{
		font-size: 50px;
	}
	.package-create-dropdown-input-style{
		height:35px; 
		font-size:17px;
	}
	.package-create-dropdown-button-style{
		height:35px; 
		font-size:17px;
	}
	.package-create-dropdown-list-style{
		font-size: 17px;
	}
	.package-create-inputbox-style{
		height:35px; 
		font-size:17px;
	}
	.package-create-add-delete-button-style{
		height:35px;
	}
	.package-create-officetime-style{
		height:35px; 
		font-size:17px;
	}
	.package-create-topic-style{
		font-size: 17px;
	}
	.package-create-type-button-style{
		font-size: 20px;
	}
	.package-create-table-header{
		font-size: 12px;
	}
}

.must-comma{
	color:red;
}

.scrollable-menu2 {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}

.create-button-cover{
	padding-left: 15px;
	padding-right: 15px;
}
.create-button-style{
	border: 3px solid white; 
	border-radius:10px;
	background-color: rgba(251, 211, 0, 0.85);
}
.create-button-text{
	margin-top:15px; 
	margin-bottom:15px; 
	font-size:20px; 
	color:white;
}