<!-- Profile page -->
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="background-image:url('../../image/profile-background.png'); ">
			<div class="container profile-container-style">
				<div class="col-xs-12 col-sm-7 col-md-7 profile-cover-style" style="background-color:rgba(0,0,0,0.45); text-align:center">
					<!-- Profile Picture -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center">
						<img class="profile-image-style" src=api/images/{{user.image}}></img>
					</div>
					<!-- Name -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="profile-name-style">{{user.first_name}} {{user.last_name}}</p> 
					</div>

				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 profile-cover-style" style="background-color:rgba(0,0,0,0.75);">
					<!-- General Information -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="profile-information-header">General Information</p>
						<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:15%">
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Gender :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.gender}}</p> 								
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Date of birth  :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.date_of_birth}}</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Role :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.role}}</p> 
							</div>							
						</div>
					</div>
					<!-- Contact -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="profile-information-header">Contact</p>
						<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:15%">
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Email :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.email}}</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Phone :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.phone_number}}</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Address :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.address.address}}</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
								<p class="profile-information-detail">Zipcode :</p> 
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
								<p class="profile-information-detail">{{user.address.zip_code}}</p> 
							</div>
						</div>
					</div>
					<!-- Edit Button -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center; margin-top:50px;">
						<button type="button" class="btn btn-success">Edit Profile</button>
					</div>
				</div>
			</div>	
		</div>
		
	</body>
</html>