<!-- Profile page -->
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container-fluid center-picture" style="background-image:url('../../image/profile-background.png'); ">
			<div class="container profile-container-style">
				<div class="col-xs-12 col-sm-7 col-md-7 profile-cover-style" style="background-color:rgba(0,0,0,0.45); text-align:center">
					<!-- Profile Picture -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center">
						<img ng-show="user.image" class="profile-image-style" src=api/images/{{user.image}}></img>
						<img ng-show="!user.image" class="profile-image-style" src={{user.facebook_image}}></img>
					</div>
					<!-- Name -->
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p class="profile-name-style">{{user.first_name}} {{user.last_name}}</p> 
					</div>

				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 profile-cover-style" style="background-color:rgba(0,0,0,0.75);">
					
					  <ul class="nav nav-tabs profile-tab-style">
					    <li class="active"><a data-toggle="tab" data-target="#home" style="color:white;font-size:16px;">ลูกค้า</a></li>
					    <li ng-show="user.role == 'Vendor'"><a data-toggle="tab" style="color:white;font-size:16px;" data-target="#menu1">ผู้ค้า</a></li>
					  </ul>

					  <div class="tab-content">
					    <div id="home" class="tab-pane fade in active">
					      <!-- General Information -->
							<div class="col-xs-12 col-sm-12 col-md-12" style="padding-top:25px;">
								<p class="profile-information-header">ข้อมูลทั่วไป</p>
								<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:15%">
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">เพศ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.gender}}</p> 								
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">วันเกิด  :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.date_of_birth}}</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">สถานะ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.role}}</p> 
									</div>							
								</div>
							</div>
							<!-- Contact -->
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p class="profile-information-header">การติดต่อ</p>
								<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:15%">
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">อีเมล :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.email}}</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">หมายเลขโทรศัพท์ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p ng-show="user.phone_number" class="profile-information-detail">{{user.phone_number}}</p> 
										<p ng-show="!user.phone_number" class="profile-information-detail"> - </p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">ที่อยู่ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p ng-show="user.address.address" class="profile-information-detail">{{user.address.address}}</p> 
										<p ng-show="!user.address.address" class="profile-information-detail"> - </p>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">รหัสไปรษณีย์ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p  ng-show="user.address.zip_code" class="profile-information-detail">{{user.address.zip_code}}</p> 
										<p ng-show="!user.address.zip_code" class="profile-information-detail"> - </p> 
									</div>
								</div>
							</div>
					    </div>
					    <div id="menu1" class="tab-pane fade" ng-show="user.role == 'Vendor'">
					      <!-- General Vendor Information -->
							<div class="col-xs-12 col-sm-12 col-md-12" style="padding-top:25px;">
								<p class="profile-information-header">ข้อมูลผู้ค้า</p>
								<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:15%">
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">อีเมล :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail" ng-show="user.vendor.alt_email">{{user.vendor.alt_email}}</p> 
										<p class="profile-information-detail" ng-show="!user.vendor.alt_email">-</p>								
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">เลขบัตรประชาชน :</p>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.vendor.identification_num}}</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">เลขที่ผู้ประกอบการ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.vendor.provider_num}}</p> 
									</div>							
								</div>
							</div>
							<!-- Vendor Contact -->
							<div class="col-xs-12 col-sm-12 col-md-12">
								<p class="profile-information-header">การติดต่อ</p>
								<div class="col-xs-12 col-sm-12 col-md-12" style="padding-left:15%">
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">ที่อยู่ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p class="profile-information-detail">{{user.vendor.address.address}}</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">รหัสไปรษณีย์ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p ng-show="user.phone_number" class="profile-information-detail">{{user.vendor.address.zip_code}}</p> 
										<p ng-show="!user.phone_number" class="profile-information-detail"> - </p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6" style="padding-left:0px;">
										<p class="profile-information-detail">หมายเลขโทรศัพท์ :</p> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<p ng-show="user.address.address" class="profile-information-detail">{{user.vendor.phone_number}}</p> 
										<p ng-show="!user.address.address" class="profile-information-detail"> - </p>
									</div>
								</div>
							</div>
					    </div>
					  </div>
					<!-- Edit Button -->
					<div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center; margin-top:30px;">
						<button type="button" class="btn btn-success" ng-click="editProfile()">แก้ไขโปรไฟล์</button>
						<button type="button" ng-show="user.role != 'Vendor'" class="btn btn-primary" ng-click="setVendor()">เริ่มเป็นผู้ค้า</button>
					</div>
				</div>
			</div>	
		</div>
		
	</body>
</html>