/**
 * package.scss
 */
 .body{
    width:100%;
 }
 .package_pic{
    border: 1px solid black;
 	display: inline-block;
    position: relative;
    width: 100%;
 }
 .package{
    background-color: #f9f9fa;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 15px;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
    border: 1px solid #BDBDBD;
 }
 .like_button {
    position: absolute;    
    right: 10px;
    top: 10px;
}
.price{
	position: absolute;    
    bottom: 20px;
    float: left;
    color: #ebebeb;
    background-color: #202121;
    width: 80px;
    height: 30px; 
    font-size: 18px;
}
.package_item{
	margin-top:30px;
    overflow: auto;
}
.dropdown_filter{
    width:90%; 
    text-align:left; 
    color:grey;
}
.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
.filter-section{
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 15px;
}


