/**
 * package.scss
 */
 .package_pic{
 	display: inline-block;
    position: relative;
 }
 .like_button {
    position: absolute;    
    right: 10px;
    top: 10px;
}
.price{
	position: absolute;    
    bottom: 30px;
    float: left;
    background-color: #00ff00;
    width: 100px;
    height: 30px; 
    font-size: 18px;
}
.package_item{
	margin-top:30px;
}



