<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
	  	<!-- Filter Options -->
	  	<div>
			<div class="container-fluid" style="background-color:#202121; padding-top: 70px">
				<div class="container">
					<h3 style="color:#ebebeb"><center>Filter Options</center></h3>
					<!-- Hiding Filter Page -->
					<div id="filter_menu" class="collapse"></br>
						<div class="row" style="background-color:red">
							<div class="col-md-5"> 
								<div class="col-md-2">
									Place
								</div>
								<div class="input-group col-md-10">
							        <input type="text" class="form-control" placeholder="Activity Place" name="srch-term" id="srch-term">
							        <div class="input-group-btn">
							             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-chevron-down"></span></button>
							    	</div>
							    </div>
							</div>
							<br><br>
							<div class="col-md-5" style="float:none"> 
								<div class="col-md-2">
									<label>Type</label>
								</div>
								<div class="input-group col-md-10">
							        <input type="text" class="form-control" placeholder="Activity Type" name="srch-term" id="srch-term">
							        <div class="input-group-btn">
							             <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-chevron-down"></span></button>
							    	</div>
							    </div>
							</div>
						</div>
						<select name="guests" class="guest-select" id="guest-select" data-prefill="">
			                <option value="1">1 Guest</option>
							<option value="2">2 Guests</option>
							<option value="3">3 Guests</option>
							<option value="4">4 Guests</option>
							<option value="5">5 Guests</option>
							<option value="6">6 Guests</option>
							<option value="7">7 Guests</option>
							<option value="8">8 Guests</option>
							<option value="9">9 Guests</option>
							<option value="10">10 Guests</option>
							<option value="11">11 Guests</option>
							<option value="12">12 Guests</option>
							<option value="13">13 Guests</option>
							<option value="14">14 Guests</option>
							<option value="15">15 Guests</option>
							<option value="16">16+ Guests</option>
			              </select>
			              <!--Price range slider-->
			            <div>
						    <rzslider
						        rz-slider-model="slider.min"
							    rz-slider-high="slider.max"
							    rz-slider-options="slider.options">></rzslider>
						</div>
					</div>
					<!-- End Hiding Filter Page -->
				</div>
			</div>
			<!-- Button for Expand Hiding Page -->
			<div style="background-color:black">
				<center><button data-toggle="collapse" data-target="#filter_menu" style="background-color:transparent; border:none; padding:0"><img src="../image/expand.png"></button></center>
			</div>
			<!-- End Button for Expand Hiding Page -->
		</div>
		<!-- End Filter Options -->

		<!-- Packages -->
		<div>
			<div class="container-fluid" style="background-color:#ebebeb">
				<div class="container">
					<h2 style="color:#3b3a3a"><center>Packages</center></h2>
					<div row="row-fluid">
						<div class="col-md-4 package_item" ng-repeat="package in packages">
							<div class="package_pic">	
								<center>
									<div class="package_pic">
										<center><img src="../image/sample_package.png"></center>
										<input id="liked" ng-click="ilike()" class="like_button" type="image" src="../image/Heart.png" name="image" width="40" height="40">
										<div class="price">
											<label> {{package.price}} ฿</label>
										</div>
									</div>
								</center>
								<div style="padding-top:5px;">
									<a href="#" style="color:#3b3a3a;">{{package.name}}</a>
								</div>
								<div style="">
									<img src="../image/star_rated.png">
									<img src="../image/star_rated.png">
									<img src="../image/star_rated.png">
									<img src="../image/star_rated.png">
									<img src="../image/star_unrated.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Packages -->
	</body>
</html>