<!Doctype html>
<html>
	<head>
		<title>ACHOLIC</title>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
	  	<!-- Filter Options -->
	  	<div>
			<div class="container-fluid" style="background-image: url(../image/galaxy.jpg); padding-top: 70px;">
				<div class="container">
					<h3 style="color:#ebebeb;text-shadow: black 0.2em 0.2em 0.2em;"><center>Filter Options</center></h3>
					<!-- Hiding Filter Page -->
					<div id="filter_menu" class="collapse filter-section"></br>
						<div class="row">
							<div class="col-md-4"> 
							    <div class="col-md-12 col-xs-12 btn-group" style="padding-bottom:5px;">
								  <button type="button" class="btn btn-default" style="width:89.8%; padding-left:0px" ng-bind='selected'> Province </button>
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
								    <span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
								    <li ng-repeat="p in provinces" ng-name="p.name" ng-model="p.name" ng-click="setProvince(p.name)"><a href="#">{{p.name}}</a></li>
								  </ul>
								</div>
							</div> 

							<div class="col-md-4"> 
							    <div class="col-md-12 col-xs-12 btn-group" style="padding-bottom:5px;">
								  <button type="button" class="btn btn-default" style="width:90%; padding-left:0px" ng-bind="selectedType"> Type </button>
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
								    <span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
								    <li ng-repeat="t in types" ng-click="setType(t.name)"><a href="#">{{t.name}}</a></li>
								  </ul>
								</div>
							</div>

							<div class="col-md-4">
								<div class="col-md-12 col-xs-12 btn-group" style="padding-bottom:5px;">
								  <button type="button" class="btn btn-default" style="width:90%" ng-bing="guest"> {{guest}} </button>
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:10%">
								    <span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu scrollable-menu" style="width:91.5%;margin-left:17px;">
								    <li ng-repeat="g in guests" ng-click="setGuest(g.n)"><a href="#">{{g.n}}</a></li>
								  </ul>
								</div>
			              
							</div>
						</div>
						
			             <!--Price range slider-->
			            <div class="row">
			            	<div class="col-md-2 font-effect-outline" style="height=15px;padding-top:5px;">
			            		<center>
			            			<label style="color:white;font-size:18px;margin-top:15px;">Price Rate</label>
			            		</center>
			            	</div>
			            	<div class="col-md-8">
							    <rzslider
							        rz-slider-model="slider.min"
								    rz-slider-high="slider.max"
								    rz-slider-options="slider.options">>
								</rzslider>
							</div>	
						</div>
						<!--End Price range slider-->
						<!-- Filter Button -->
						<center><button type="button" class="btn btn-warning btn-lg" style="margin-bottom:15px;color:black;"> Filter </button></center>
						<!--End Filter Button -->
					</div>
					<!-- End Hiding Filter Page -->
				</div>
			</div>
			<!-- Button for Expand Hiding Page -->
			<div style="background-color:#111625">
				<center><button id="expandButt" data-toggle="collapse" data-target="#filter_menu" style="background-color:transparent; border:none; padding:0" ng-click="rotate(deg)"><img src="../image/expand_copy.png"></button></center>
			</div>
			<!-- End Button for Expand Hiding Page -->
		</div>
		<!-- End Filter Options -->

		<!-- Packages -->
		<div>
			<div class="container-fluid" style="background-color:#F6E6CE;padding-bottom:20px;width:100%;">
				<div class="container">
					<h2 style="color:#000000;font-family: 'Nunito', sans-serif;margin-top: 40px;"><center style="
    font-size: 40px;text-shadow: yellow 0.1em 0.1em 0.2em;">Packages</center></h2>
					<div row="row-fluid">
						<div class="col-md-4 package_item" ng-repeat="package in packages" style="text-align:center">
							<div class="package"  >	
								<a href="/packageDetail/{{package._id}}">
									<div class="package_pic" style="background-image: url(../image/sample_package.png);width:100%;height:200px;">
									<div ng-if="package.image">
										<img ng-src="api/images/{{package.image}}" style="width:100%;height:200px;"></img>
									</div>
										<input id="liked" ng-click="ilike()" class="like_button" type="image" src="../image/Heart.png" name="image" width="40" height="40">
										<div class="price">
											<label> {{package.price}} ฿</label>
										</div>
									</div>
								</a>
								<div style="text-align:left;font-family: 'Nunito', sans-serif;font-style:bold;">
									<div style="padding-top:5px;">
										<a href="/packageDetail/{{package._id}}" style="color:#3b3a3a;"><h4>{{package.name}}</h4></a>
									</div>
									<div><p>Rating : {{package.rating}}</p></div>
									<div style="" ng-app="" ng-init="nstar = 0">
										<img ng-repeat="i in getStar(nFloor) track by $index" src="../image/star_rated.png" style="padding-left: 3px;">
										<img ng-if="decNum >= 0.5" src="../image/star_rated_half.png">
										<img ng-repeat="i in test() track by $index" src="../image/star_unrated.png" style="padding-left: 3px;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Packages -->
	</body>
</html>