/**
 * package.scss
 */
 .body{
    width:100%;
 }
 .package_pic{
    border: 1px solid black;
 	display: inline-block;
    position: relative;
    width: 100%;
 }
 .package{
    background-color: #f9f9fa;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 15px;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
    border: 1px solid #BDBDBD;
 }
 .like_button {
    position: absolute;    
    right: 5.5%;
    top: 3%;
    width: 40px;
    height: 40px;
}
.price{
	position:absolute;    
    top:200px;
    float:left;
    color:white;
    background-color:#202121;
    width:110px;
    height:32px; 
    font-size:25px;
    display:none;
}
.package_item{
	margin-top:30px;
    overflow: auto;
}
.package-style{
    background-color:rgba(0,0,0,0.85);
    padding-bottom:5%;
    height:440px;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
    color:white;
    a:link {
        text-decoration: none;
        color: #406a80; }
    a:hover {
      text-decoration: underline; }

    a:visited {
      text-decoration: none;
      color: #406a80; }

    a:active {
      text-decoration: none;
      color: #406a80; }
}

.package-style:hover .price{
    display:block;
}

.package-cover{
    margin-top:50px; 
    padding-left:1.5%; 
    padding-right:1.5%; 
    padding-top:1.5%; 
    padding-bottom:1.5%; 
}
.package-picture{
    background-position: center center; 
    background-size: cover; 
    width: 100%; 
    height: 250px;
}
.package-footer-style{
    background-color:rgba(0,0,0,0.85);
    padding-top:10px; 
    padding-bottom:10px;
    color: #b3b3b3; 
    height: 40px;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.35);
}
  
.package-header-overflow{
   overflow: hidden;
   color:white;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.7;        /* fallback */
   max-height: 1.2;       /* fallback */
}
.package-description-overflow{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 2;        /* fallback */
   max-height: 4;       /* fallback */
}

.package-modal-header{
  font-size: 35px;
  margin-bottom:0px;
}
.bookmark-list-name{
  font-size: 17px;
}
.bookmark-input-box{ 
  width: 100%;
  height:40px; 
  font-size:17px;
  border-radius: 4px;
  padding-left: 15px;
}
.bookmark-add-new-list-button{
  font-size: 17px;
  height: 40px;
  background-color: #fe5a5f;
  color: white;
}
.bookmark-body-style{
  padding-left:0px; 
  padding-right:0px; 
  padding-top:0px; 
  padding-bottom:0px; 
  text-align:center;
}
.bookmark-select-button{
  width: 30px;
  height: 30px;
}
.add-to-cart-package-name{
  font-size: 20px;
}
.add-to-cart-package-header{
  color:#fb5858;
  font-size: 15px;
}
.add-to-cart-package-detail{
  font-size: 15px;
}
.add-to-cart-button{
  width: 30px;
  height: 30px;
  padding-top: 5px;
}
.add-to-cart-input-number{
  width:50px;
}
.alertText{
  padding-top: 25px;
  color: red;
  font-size: 18px;
}
.select-package-type-button{
  background-color:transparent; 
  color:white; 
  font-size:22px; 
  border:1px solid white;
  margin-top: 15px;
  margin-left: 15px;
  margin-left: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
}
.select-package-type-button-active{
  background-color: rgba(0, 0, 0, 0.65);
  color: rgba(251, 211, 0, 0.85);
}
button.select-package-type-button:hover{
  color: rgba(0, 0, 0, 0.65);
}
button.select-package-type-button-active:hover{
  color: white;
}
@media(min-width:767px){
  .select-package-type-button{
    font-size:25px;
  }
}

