.modal-content{
	-webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important; 
}

.modal-header{
	background-color:cadetblue;
}

.modal-body{
	padding-left:50px;
	padding-right:50px;
	padding-top:20px;
	padding-bottom:60px;
}