.modal-vertical-centered {
  transform: translate(0, 40%) !important;
  -ms-transform: translate(0, 40%) !important; /* IE 9 */
  -webkit-transform: translate(0, 40%) !important; /* Safari and Chrome */
}

.modal-content{
	-webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important; 
}

.modal-body{
	overflow-y:auto;
	padding-left:50px;
	padding-right:50px;
	padding-top:20px;
}

.modal-footer{
	background-color:#e5e5e5;
}

.alertText{
	padding-top: 25px;
	color: red;
	font-size: 18px;
}

.ads{
	text-align:center;
	font-size:25px;
	font-style:bold;
	margin-bottom:15px;
}

.vendor{
	text-align:center;
}

.cus_icon{
	width:120px;
	height:110px;
}

.cus_butt{
	margin-top:20px;
}

.nav-profile-image-style{
 	height: 110px;
  	width: 110px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-ms-border-radius: 50%;
  	-o-border-radius: 50%;
  	border-radius: 50%;
  	border: 3px solid white;
 }
 .nav-small-profile-image-style{
 	height: 40px;
  	width: 40px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-ms-border-radius: 50%;
  	-o-border-radius: 50%;
  	border-radius: 50%;
  	border: 1px solid white;
 }

.nav-profile-name-style{
	font-size: 15px;
	margin-top: 3px;
	text-align: center
}

.profile-bottom{
	background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 7px;
    float:right;
    text-align: right
}

.more-info-button{
	height: 40px;
  	width: 40px;
}

.more-function{
	height: auto;
  	width: 50px;
}
.user-function{
	text-align:center;
	padding-top:13px;
	height: 110px;
	background-color:white;
}
.user-function-last{
	text-align:center;
	padding-top:10px;
	height: 110px;
	background-color:white;
}
.user-text-overflow{
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1; /* number of lines to show */
   line-height: 1.5;        /* fallback */
   max-height: 1.2;       /* fallback */
}
.user-menu-button{
	color: #57bdad;
	// margin-top: 0px;
	top: 0px;
	padding-top: 25px;
	padding-bottom: 25px; 
}
.navbar-inner {
    background:transparent;
}

.drop-arrow:before {
  position: absolute;
  top: -7px;
  left: 90%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.drop-arrow:after {
  position: absolute;
  top: -6px;
  left: 90%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.alert {
  margin-bottom: 0px;
}